In [26]:
import pandas as pd

baseline_results = pd.read_csv("results/baseline/results-baseline-06-09.csv")
baseline_results

    id  Sim TTC  Wall TTC  Failure  Low Battery  Tiemout  Success
0    0   171.12    250.28        1            0        0        0
1    1   141.93    213.29        1            0        0        0
2    2   443.80    621.72        0            0        0        1
3    3   156.33    239.31        1            0        0        0
4    4   681.48    900.11        0            0        1        0
..  ..      ...       ...      ...          ...      ...      ...
75  76   594.00    715.84        0            0        0        1
76  77   674.43    810.96        0            0        0        1
77  78   571.80    686.94        0            0        0        1
78  79   527.82    621.72        0            0        0        1
79  80   399.97    477.61        0            0        0        1

[80 rows x 7 columns]

In [27]:
planned_results = pd.read_csv("results/planned/results-planned-06-09.csv")
planned_results

    id  Sim TTC  Wall TTC  Failure  Low Battery  Tiemout  Success
0    0   217.03    311.41        0            0        0        1
1    1   366.63    505.55        0            0        0        1
2    2   262.18    372.47        0            0        0        1
3    3   202.65    284.36        0            0        0        1
4    4   198.90    282.34        0            0        0        1
..  ..      ...       ...      ...          ...      ...      ...
75  76   357.57    442.51        0            0        0        1
76  77   519.48    629.80        0            1        0        0
77  78   804.85    900.16        0            0        1        0
78  79   475.02    591.70        1            0        0        0
79  80   417.65    544.66        0            0        0        1

[80 rows x 7 columns]

# Baseline Results

In [68]:
baseline_success = baseline_results[baseline_results["Success"] == 1]
baseline_success

    id  Sim TTC  Wall TTC  Failure  Low Battery  Tiemout  Success
2    2   443.80    621.72        0            0        0        1
5    5   304.17    424.09        0            0        0        1
7    7   393.40    545.65        0            0        0        1
9    9   245.45    346.46        0            0        0        1
13  14   665.70    816.98        0            0        0        1
15  16   396.55    506.62        0            0        0        1
16  17   319.88    412.49        0            0        0        1
18  19   413.83    530.68        0            0        0        1
19  20   583.53    732.90        0            0        0        1
21  22   586.77    742.87        0            0        0        1
22  23   370.25    486.56        0            0        0        1
24  25   416.60    526.67        0            0        0        1
26  27   437.48    553.72        0            0        0        1
27  28   442.48    562.67        0            0        0        1
28  29   295.85    368.45        0            0        0        1
30  31   603.98    725.85        0            0        0        1
33  34   650.97    768.99        0            0        0        1
34  35   606.57    726.86        0            0        0        1
35  36   205.45    260.35        0            0        0        1
36  37   253.83    319.34        0            0        0        1
37  38   362.38    450.58        0            0        0        1
38  39   457.42    609.78        0            0        0        1
40  41   216.90    299.37        0            0        0        1
42  43   667.45    864.05        0            0        0        1
44  45   346.73    449.56        0            0        0        1
45  46   579.45    717.86        0            0        0        1
46  47   290.78    349.50        0            0        0        1
47  48   425.75    501.58        0            0        0        1
48  49   431.67    512.57        0            0        0        1
49  50   580.57    682.81        0            0        0        1
50  51   324.43    392.44        0            0        0        1
53  54   462.58    553.70        0            0        0        1
55  56   606.68    722.89        0            0        0        1
56  57   423.03    508.59        0            0        0        1
58  59   288.72    352.39        0            0        0        1
59  60   208.90    261.33        0            0        0        1
60  61   390.23    473.61        0            0        0        1
61  62   561.97    668.83        0            0        0        1
62  63   486.68    592.69        0            0        0        1
63  64   267.30    329.38        0            0        0        1
65  66   207.98    256.28        0            0        0        1
66  67   206.30    254.31        0            0        0        1
67  68   275.38    338.39        0            0        0        1
68  69   226.35    277.33        0            0        0        1
70  71   414.48    505.60        0            0        0        1
72  73   307.97    375.50        0            0        0        1
73  74   287.57    353.43        0            0        0        1
74  75   497.07    597.70        0            0        0        1
75  76   594.00    715.84        0            0        0        1
76  77   674.43    810.96        0            0        0        1
77  78   571.80    686.94        0            0        0        1
78  79   527.82    621.72        0            0        0        1
79  80   399.97    477.61        0            0        0        1

In [70]:
baseline_fail = baseline_results[baseline_results["Failure"] == 1]
baseline_fail

    id  Sim TTC  Wall TTC  Failure  Low Battery  Tiemout  Success
0    0   171.12    250.28        1            0        0        0
1    1   141.93    213.29        1            0        0        0
3    3   156.33    239.31        1            0        0        0
8    8   171.23    245.34        1            0        0        0
11  12   188.08    260.33        1            0        0        0
12  13   129.00    183.26        1            0        0        0
14  15   203.78    275.36        1            0        0        0
17  18   173.70    237.34        1            0        0        0
20  21   157.62    214.25        1            0        0        0
29  30   114.42    152.19        1            0        0        0
31  32   123.35    161.22        1            0        0        0
32  33   205.83    266.30        1            0        0        0
54  55   474.47    565.64        1            0        0        0
57  58   427.08    519.65        1            0        0        0
71  72   533.93    648.79        1            0        0        0

In [29]:
base_sim_mean = baseline_success["Sim TTC"].mean()
base_sim_mean

419.005283018868

In [30]:
base_sim_std = baseline_success["Sim TTC"].std()
base_sim_std

141.23263760689002

In [31]:
base_wall_mean = baseline_success["Wall TTC"].mean()
base_wall_mean

519.7177358490566

In [32]:
base_wall_std = baseline_success["Wall TTC"].std()
base_wall_std

168.52499686352752

In [72]:
basefail_sim_mean = baseline_fail["Sim TTC"].mean()
basefail_sim_mean

224.79133333333328

In [73]:
basefail_sim_std = baseline_fail["Sim TTC"].std()
basefail_sim_std

135.501301304593

In [75]:
basefail_wall_mean = baseline_fail["Wall TTC"].mean()
basefail_wall_mean

295.50333333333333

In [76]:
basefail_wall_std = baseline_fail["Wall TTC"].std()
basefail_wall_std

152.63293244469446

# Planner Results

In [33]:
planned_success = planned_results[planned_results["Success"] == 1]
planned_success

    id  Sim TTC  Wall TTC  Failure  Low Battery  Tiemout  Success
0    0   217.03    311.41        0            0        0        1
1    1   366.63    505.55        0            0        0        1
2    2   262.18    372.47        0            0        0        1
3    3   202.65    284.36        0            0        0        1
4    4   198.90    282.34        0            0        0        1
..  ..      ...       ...      ...          ...      ...      ...
72  73   341.38    426.57        0            0        0        1
73  74   294.60    368.44        0            0        0        1
74  75   476.80    578.71        0            0        0        1
75  76   357.57    442.51        0            0        0        1
79  80   417.65    544.66        0            0        0        1

[71 rows x 7 columns]

In [34]:
planned_fail = planned_results[planned_results["Failure"] == 1]
planned_fail

    id  Sim TTC  Wall TTC  Failure  Low Battery  Tiemout  Success
42  43   263.68    345.39        1            0        0        0
48  49   443.82    557.70        1            0        0        0
78  79   475.02    591.70        1            0        0        0

In [47]:
planned_lowbattery = planned_results[planned_results["Low Battery"] == 1]
planned_lowbattery

    id  Sim TTC  Wall TTC  Failure  Low Battery  Tiemout  Success
22  23   518.98    665.76        0            1        0        0
76  77   519.48    629.80        0            1        0        0

In [38]:
success_sim_mean = planned_success["Sim TTC"].mean()
success_sim_mean

329.9554929577465

In [39]:
success_sim_std = planned_success["Sim TTC"].std()
success_sim_std

99.31781702895195

In [40]:
success_wall_mean = planned_success["Wall TTC"].mean()
success_wall_mean

425.4538028169013

In [41]:
success_wall_std = planned_success["Wall TTC"].std()
success_wall_std

122.31139045621217

In [42]:
fail_sim_mean = planned_fail["Sim TTC"].mean()
fail_sim_mean

394.17333333333335

In [43]:
fail_sim_std = planned_fail["Sim TTC"].std()
fail_sim_std

114.08217447670486

In [44]:
fail_wall_mean = planned_fail["Wall TTC"].mean()
fail_wall_mean

498.2633333333333

In [45]:
fail_wall_std = planned_fail["Wall TTC"].std()
fail_wall_std

133.47918202226646

In [49]:
lowbattery_sim_mean = planned_lowbattery["Sim TTC"].mean()
lowbattery_sim_mean

519.23

In [50]:
lowbattery_sim_std = planned_lowbattery["Sim TTC"].std()
lowbattery_sim_std

0.3535533905932738

In [51]:
lowbattery_wall_mean = planned_lowbattery["Wall TTC"].mean()
lowbattery_wall_mean

647.78

In [52]:
lowbattery_wall_std = planned_lowbattery["Wall TTC"].std()
lowbattery_wall_std

25.427559851468274

# Table of results

In [77]:
dic = {'Baseline Success': [base_sim_mean, base_sim_std, base_wall_mean, base_wall_std],
       'Baseline Failure': [basefail_sim_mean, basefail_sim_std, basefail_wall_mean, basefail_wall_std],
       'Planner Success': [success_sim_mean, success_sim_std, success_wall_mean, success_wall_std],
       'Planner Failure': [fail_sim_mean, fail_sim_std, fail_wall_mean, fail_wall_std],
       'Planner Low Battery': [lowbattery_sim_mean, lowbattery_sim_std, lowbattery_wall_mean, lowbattery_wall_std]}
df = pd.DataFrame(dic, index=['Sim TTC Mean', 'Sim TTC STD', 'Wall TTC Mean', 'Wall TTC STD'])
df

,Baseline Success,Baseline Failure,Planner Success,Planner Failure,Planner Low Battery
Sim TTC Mean,419.005283,224.791333,329.955493,394.173333,519.230000
Sim TTC STD,141.232638,135.501301,99.317817,114.082174,0.353553
Wall TTC Mean,519.717736,295.503333,425.453803,498.263333,647.780000
Wall TTC STD,168.524997,152.632932,122.311390,133.479182,25.427560

In [54]:
df.to_csv('results_comparison.csv')

# Metrics

## Metric1 
Planner Success as compared to Baseline Successes

In [78]:
metric1 = len(planned_success)/len(baseline_success) * 100
metric1

133.96226415094338

## Metric2
Planner TTC as compared to Baseline TTC

In [79]:
metric2 = success_sim_mean/base_sim_mean * 100
metric2

78.74733477832748

# Metric3