In [6]:
import pandas as pd

baseline_results = pd.read_csv("results/baseline/results-baseline-06-08.csv")
baseline_results

    id  Sim TTC  Wall TTC  Failure  Low Battery  Tiemout  Success
0    0   293.87    360.48        0            0        0        1
1    1   455.35    546.76        0            0        0        1
2    2   498.82    603.82        0            0        0        1
3    3   312.62    381.51        0            0        0        1
4    4   789.57    900.35        0            0        1        0
..  ..      ...       ...      ...          ...      ...      ...
76  76   608.93    750.13        0            0        0        1
77  77   730.32    900.40        0            0        1        0
78  78   564.03    710.07        0            0        0        1
79  79   579.33    715.03        0            0        0        1
80  80   391.47    483.71        0            0        0        1

[81 rows x 7 columns]

In [9]:
planned_results = pd.read_csv("results/planned/results-planned-06-08.csv")
planned_results

    id  Sim TTC  Wall TTC  Failure  Low Battery  Tiemout  Success
0    0   216.20    303.37        0            0        0        1
1    1   681.38    900.34        0            0        1        0
2    2   274.50    370.44        0            0        0        1
3    3   199.85    272.40        0            0        0        1
4    4   215.57    291.38        0            0        0        1
..  ..      ...       ...      ...          ...      ...      ...
76  76   315.48    389.53        0            0        0        1
77  77   421.53    511.75        0            0        0        1
78  78   454.13    545.85        0            0        0        1
79  79   578.18    705.95        0            0        0        1
80  80   429.63    541.77        0            0        0        1

[81 rows x 7 columns]

# Baseline Results

In [24]:
baseline_success = baseline_results[baseline_results["Success"] == 1]
#baseline_fail = baseline_results[baseline_results["Failure"] == 1]
baseline_success

    id  Sim TTC  Wall TTC  Failure  Low Battery  Tiemout  Success
0    0   293.87    360.48        0            0        0        1
1    1   455.35    546.76        0            0        0        1
2    2   498.82    603.82        0            0        0        1
3    3   312.62    381.51        0            0        0        1
7    7   400.95    480.68        0            0        0        1
..  ..      ...       ...      ...          ...      ...      ...
75  75   468.77    583.83        0            0        0        1
76  76   608.93    750.13        0            0        0        1
78  78   564.03    710.07        0            0        0        1
79  79   579.33    715.03        0            0        0        1
80  80   391.47    483.71        0            0        0        1

[64 rows x 7 columns]

In [25]:
base_sim_mean = baseline_sucess["Sim TTC"].mean()
base_sim_mean

392.97078124999996

In [27]:
base_sim_std = baseline_success["Sim TTC"].std()
base_sim_std

141.36760660700406

In [30]:
base_wall_mean = baseline_sucess["Wall TTC"].mean()
base_wall_mean

463.1853125

In [31]:
base_wall_std = baseline_sucess["Wall TTC"].std()
base_wall_std

158.22496336434028

# Planner Results

In [32]:
planned_success = planned_results[planned_results["Success"] == 1]
planned_success

    id  Sim TTC  Wall TTC  Failure  Low Battery  Tiemout  Success
0    0   216.20    303.37        0            0        0        1
2    2   274.50    370.44        0            0        0        1
3    3   199.85    272.40        0            0        0        1
4    4   215.57    291.38        0            0        0        1
8    8   225.90    301.06        0            0        0        1
..  ..      ...       ...      ...          ...      ...      ...
76  76   315.48    389.53        0            0        0        1
77  77   421.53    511.75        0            0        0        1
78  78   454.13    545.85        0            0        0        1
79  79   578.18    705.95        0            0        0        1
80  80   429.63    541.77        0            0        0        1

[63 rows x 7 columns]

In [33]:
planned_fail = planned_results[planned_results["Failure"] == 1]
planned_fail

    id  Sim TTC  Wall TTC  Failure  Low Battery  Tiemout  Success
25  25   414.23    562.36        1            0        0        0
63  63   517.02    609.90        1            0        0        0

In [34]:
success_sim_mean = planned_success["Sim TTC"].mean()
success_sim_mean

329.3657142857144

In [35]:
success_sim_std = planned_success["Sim TTC"].std()
success_sim_std

110.31915742903648

In [36]:
success_wall_mean = planned_success["Wall TTC"].mean()
success_wall_mean

405.28857142857146

In [40]:
success_wall_std = planned_success["Wall TTC"].std()
success_wall_std

128.97447094048448

In [38]:
fail_sim_mean = planned_fail["Sim TTC"].mean()
fail_sim_mean

465.625

In [39]:
fail_sim_std = planned_fail["Sim TTC"].std()
fail_sim_std

72.68350603816519

In [41]:
fail_wall_mean = planned_fail["Wall TTC"].mean()
fail_wall_mean

586.13

In [42]:
fail_wall_std = planned_fail["Wall TTC"].std()
fail_wall_std

33.615856377608445

In [45]:
dic = {'Baseline': [base_sim_mean, base_sim_std, base_wall_mean, base_wall_std],
      'Success': [success_sim_mean, success_sim_std, success_wall_mean, success_wall_std],
      'Failure': [fail_sim_mean, fail_sim_std, fail_wall_mean, fail_wall_std]}
df = pd.DataFrame(dic, index=['Sim TTC Mean', 'Sim TTC STD', 'Wall TTC Mean', 'Wall TTC STD'])
df

                 Baseline     Success     Failure
Sim TTC Mean   392.970781  329.365714  465.625000
Sim TTC STD    141.367607  110.319157   72.683506
Wall TTC Mean  463.185313  405.288571  586.130000
Wall TTC STD   158.224963  128.974471   33.615856

In [46]:
df.to_csv('results_comparison.csv')