In [1]:
import sys
sys.path.append('../src')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.decomposition import PCA

from parse_logs.parse_base import LogDir
from parse_logs.extract_experiment_result import parse_experiment_result
from parse_logs.parse_coordinator_logs import read_design

from parse_logs.parse_coordinator_logs import get_flat_design

sns.set(rc={"figure.figsize":(16, 8)})
# parser.root_data_path = '../tests/data'
#trial_run_objects = parser.get_trial_runs(
#    exp_run_code='experiment_2021_04_01_16_20_00_run_1')
exec_code='experiment_2021_07_29_15_33_17_run_1'
LogDir.base_data_path = '../data'
trial_run_objects = parse_experiment_result(exec_code='experiment_2021_07_29_15_33_17_run_1')

# load trials run to dict (it can take a while)
# sort and instantiate a dataframe
trial_run_dicts = [trial_run.to_dict() for trial_run in trial_run_objects]
# trial_run_dicts

ignoring "trial.log, wrong name format"
ignoring "trial.log, wrong name format"
ignoring "trial.log, wrong name format"
ignoring "trial.log, wrong name format"
ignoring "trial.log, wrong name format"
ignoring "trial.log, wrong name format"
ignoring "trial.log, wrong name format"
ignoring "trial.log, wrong name format"

In [2]:
tr_df = pd.DataFrame.from_records(trial_run_dicts)
trial_run_dicts.sort( key=lambda tr: tr['exec_group']+tr['code'])
# trial_run_dicts
def get_treatment(row):
    return 'planned' if row['code'][-1] == 'p' else 'baseline'

tr_df['treatment'] = tr_df.apply(get_treatment,  axis=1)
tr_df

#generate a file with scenario with failures
tr_df[(tr_df.end_state != 'success') & (tr_df.treatment == 'planned')].to_csv('failures.csv', index=False)

In [3]:
# load tasks
from evaluate.trial_result import TrialResultEvaluator
tre = TrialResultEvaluator()

task_results = tre.task_results(exec_code=exec_code)

# trs = [tr for tr in task_results]
tar_df = pd.DataFrame.from_records(task_results)
tar_df['treatment'] = tar_df.apply(get_treatment,  axis=1)
tar_df

acccbp
acbbcp
acabap
ababap
aaabbp
abbbcp
abccbp
aaccap
acccap
acabbp
aaabap
ababbp
aabbcp
aaccbp
abccap
acbcap
acaccp
aacbcp
abaccp
aabcbp
abbcap
acbcbp
accbcp
abcbcp
aaaccp
abbcbp
aabcap
abaaap
abbacp
aaaabp
acbacp
acaaap
aaaaap
aabacp
abaabp
acaabp
aacacp
abcacp
accacp
aacaap
abcabp
accabp
abcaap
aacabp
accaap
abbaap
abaacp
aababp
acaacp
acbaap
aabaap
aaaacp
abbabp
acbabp
acacap
acbccp
accbbp
aacbap
abcbbp
abbccp
aaacbp
abacap
acacbp
accbap
abcbap
aacbbp
aabccp
abacbp
aaacap
acabcp
acbbap
abbbap
aabbbp
ababcp
aacccp
accccp
acbbbp
aabbap
abbbbp
aaabcp
abcccp
parsing ending task turtlebot6:navto_lab, but it was not started
ignoring "trial.log, wrong name format"
parsing ending task turtlebot2:open_drawer_lab, but it was not started
parsing ending task turtlebot2:navto_lab, but it was not started
parsing ending task turtlebot6:approach_arm, but it was not started
parsing ending task turtlebot3:navto_lab, but it was not started
parsing ending task turtlebot2:navto_room, but it was not started
ignoring "trial.log, wrong name format"
parsing ending task turtlebot6:open_drawer_lab, but it was not started
parsing ending task turtlebot6:approach_arm, but it was not started
parsing ending task turtlebot6:open_drawer_lab, but it was not started
parsing ending task turtlebot6:navto_room, but it was not started
ignoring "trial.log, wrong name format"
parsing ending task turtlebot2:approach_arm, but it was not started
parsing ending task turtlebot6:navto_room, but it was not started
parsing ending task turtlebot2:open_drawer_lab, but it was not started
parsing ending task turtlebot4:navto_room, but it was not started
parsing ending task turtlebot6:approach_arm, but it was not started
parsing ending task turtlebot4:navto_lab, but it was not started
parsing ending task turtlebot3:navto_room, but it was not started
parsing ending task turtlebot4:navto_room, but it was not started
ignoring "trial.log, wrong name format"
parsing ending task turtlebot2:approach_arm, but it was not started
parsing ending task turtlebot1:navto_room, but it was not started
parsing ending task turtlebot2:navto_room, but it was not started
parsing ending task turtlebot6:navto_room, but it was not started
parsing ending task turtlebot3:navto_room, but it was not started
parsing ending task turtlebot6:navto_room, but it was not started
ignoring "trial.log, wrong name format"
parsing ending task turtlebot6:open_drawer_lab, but it was not started
parsing ending task turtlebot3:approach_arm, but it was not started
parsing ending task turtlebot3:open_drawer_lab, but it was not started
parsing ending task turtlebot6:approach_arm, but it was not started
parsing ending task turtlebot2:navto_lab, but it was not started
ignoring "trial.log, wrong name format"
parsing ending task turtlebot5:navto_room, but it was not started
parsing ending task turtlebot3:navto_room, but it was not started
ignoring "trial.log, wrong name format"
parsing ending task turtlebot2:navto_lab, but it was not started
parsing ending task turtlebot6:approach_arm, but it was not started
parsing ending task turtlebot6:approach_arm, but it was not started
parsing ending task turtlebot2:navto_lab, but it was not started
parsing ending task turtlebot6:navto_room, but it was not started
parsing ending task turtlebot5:navto_lab, but it was not started
parsing ending task turtlebot5:approach_arm, but it was not started
parsing ending task turtlebot5:open_drawer_lab, but it was not started
ignoring "trial.log, wrong name format"

,exec_code,code,exec_group,scenario_id,robot,skill,label,parameters,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment
0,experiment_2021_07_29_15_33_17_run_1,aaaaab,les-02,01,turtlebot4,navigation,navto_room,"{'param_list': ['IC Room 6', [[-37.0, 33.95, -...",18.17,205.15,186.98,SUCCESS,NaN,low-battery,baseline
1,experiment_2021_07_29_15_33_17_run_1,aaaaab,les-02,01,turtlebot4,approach_person,approach_nurse,"{'param_list': ['nurse'], 'label': 'approach_n...",205.15,205.80,0.65,SUCCESS,NaN,low-battery,baseline
2,experiment_2021_07_29_15_33_17_run_1,aaaaab,les-02,01,turtlebot4,authenticate_person,authenticate_nurse,"{'param_list': ['nurse'], 'label': 'authentica...",205.82,206.28,0.46,SUCCESS,NaN,low-battery,baseline
3,experiment_2021_07_29_15_33_17_run_1,aaaaab,les-02,01,turtlebot4,operate_drawer,open_drawer_for_nurse,"{'param_list': ['open'], 'label': 'open_drawer...",206.28,207.18,0.90,SUCCESS,NaN,low-battery,baseline
4,experiment_2021_07_29_15_33_17_run_1,aaaaab,les-02,01,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,"{'param_list': ['nurse'], 'label': 'notify_nur...",207.20,210.33,3.13,SUCCESS,NaN,low-battery,baseline
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11688,experiment_2021_07_29_15_33_17_run_1,accccp,les-07,81,turtlebot6,operate_drawer,close_drawer_nurse,"{'param_list': ['close'], 'label': 'close_draw...",80.93,81.82,0.89,SUCCESS,2.0,success,planned
11689,experiment_2021_07_29_15_33_17_run_1,accccp,les-07,81,turtlebot6,navigation,navto_lab,"{'param_list': ['Laboratory', [[-28.5, 16.0, 0...",81.82,178.50,96.68,SUCCESS,50.0,success,planned
11690,experiment_2021_07_29_15_33_17_run_1,accccp,les-07,81,turtlebot6,approach_robot,approach_arm,"{'param_list': ['lab_arm'], 'label': 'approach...",178.50,179.13,0.63,SUCCESS,2.0,success,planned
11691,experiment_2021_07_29_15_33_17_run_1,accccp,les-07,81,turtlebot6,operate_drawer,open_drawer_lab,"{'param_list': ['open'], 'label': 'open_drawer...",179.13,180.03,0.90,SUCCESS,2.0,success,planned
11692,experiment_2021_07_29_15_33_17_run_1,accccp,les-07,81,turtlebot6,send_message,notify_lab_arm_of_open_drawer_lab_completed,"{'param_list': ['lab_arm'], 'label': 'notify_l...",180.03,274.26,94.23,None,2.0,success,planned

In [4]:
# improve readability
tar_df.drop(columns=['parameters', 'exec_code'])

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment
0,aaaaab,les-02,01,turtlebot4,navigation,navto_room,18.17,205.15,186.98,SUCCESS,NaN,low-battery,baseline
1,aaaaab,les-02,01,turtlebot4,approach_person,approach_nurse,205.15,205.80,0.65,SUCCESS,NaN,low-battery,baseline
2,aaaaab,les-02,01,turtlebot4,authenticate_person,authenticate_nurse,205.82,206.28,0.46,SUCCESS,NaN,low-battery,baseline
3,aaaaab,les-02,01,turtlebot4,operate_drawer,open_drawer_for_nurse,206.28,207.18,0.90,SUCCESS,NaN,low-battery,baseline
4,aaaaab,les-02,01,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,207.20,210.33,3.13,SUCCESS,NaN,low-battery,baseline
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11688,accccp,les-07,81,turtlebot6,operate_drawer,close_drawer_nurse,80.93,81.82,0.89,SUCCESS,2.0,success,planned
11689,accccp,les-07,81,turtlebot6,navigation,navto_lab,81.82,178.50,96.68,SUCCESS,50.0,success,planned
11690,accccp,les-07,81,turtlebot6,approach_robot,approach_arm,178.50,179.13,0.63,SUCCESS,2.0,success,planned
11691,accccp,les-07,81,turtlebot6,operate_drawer,open_drawer_lab,179.13,180.03,0.90,SUCCESS,2.0,success,planned
11692,accccp,les-07,81,turtlebot6,send_message,notify_lab_arm_of_open_drawer_lab_completed,180.03,274.26,94.23,None,2.0,success,planned

In [28]:
tr_df = tr_df.sort_values(by=['exec_group', 'scenario_id']).reset_index(drop=True)

ftr_df = tr_df[(tr_df.end_state != 'success') & (tr_df.treatment == 'planned')]
ftr_df = ftr_df.reset_index(drop=True)
ftr_df = ftr_df.reset_index()
ftr_df
def idx(row):
    return (row['index'], row['exec_group'], "{:02d}".format(row['scenario_id']))

ftr_df['idx'] = ftr_df.apply(idx, axis=1)
ftr_df.drop(columns=['index', 'last_battery_levels', 'ttc', 'last_battery_levels'])
ftr_df.to_csv('failures.csv')

failures = ftr_df['idx'].unique()
failures

array([(0, 'les-01', '19'), (1, 'les-01', '22'), (2, 'les-01', '25'),
       (3, 'les-01', '28'), (4, 'les-01', '36'), (5, 'les-01', '37'),
       (6, 'les-01', '61'), (7, 'les-01', '62'), (8, 'les-01', '63'),
       (9, 'les-01', '67'), (10, 'les-02', '19'), (11, 'les-02', '20'),
       (12, 'les-02', '22'), (13, 'les-02', '25'), (14, 'les-02', '28'),
       (15, 'les-02', '43'), (16, 'les-02', '46'), (17, 'les-02', '50'),
       (18, 'les-02', '55'), (19, 'les-02', '73'), (20, 'les-03', '02'),
       (21, 'les-03', '19'), (22, 'les-03', '22'), (23, 'les-03', '25'),
       (24, 'les-03', '28'), (25, 'les-03', '32'), (26, 'les-03', '40'),
       (27, 'les-03', '51'), (28, 'les-03', '64'), (29, 'les-03', '70'),
       (30, 'les-03', '73'), (31, 'les-03', '76'), (32, 'les-03', '79'),
       (33, 'les-03', '81'), (34, 'les-04', '13'), (35, 'les-04', '19'),
       (36, 'les-04', '25'), (37, 'les-04', '34'), (38, 'les-04', '43'),
       (39, 'les-04', '46'), (40, 'les-04', '66'), (41, 'les-04', '67'),
       (42, 'les-04', '71'), (43, 'les-04', '73'), (44, 'les-04', '80'),
       (45, 'les-05', '19'), (46, 'les-05', '22'), (47, 'les-05', '25'),
       (48, 'les-05', '37'), (49, 'les-05', '46'), (50, 'les-05', '49'),
       (51, 'les-05', '52'), (52, 'les-05', '65'), (53, 'les-06', '04'),
       (54, 'les-06', '08'), (55, 'les-06', '09'), (56, 'les-06', '12'),
       (57, 'les-06', '14'), (58, 'les-06', '19'), (59, 'les-06', '22'),
       (60, 'les-06', '25'), (61, 'les-06', '46'), (62, 'les-06', '47'),
       (63, 'les-06', '49'), (64, 'les-06', '50'), (65, 'les-06', '55'),
       (66, 'les-06', '79'), (67, 'les-06', '81'), (68, 'les-07', '04'),
       (69, 'les-07', '19'), (70, 'les-07', '22'), (71, 'les-07', '28'),
       (72, 'les-07', '31'), (73, 'les-07', '37'), (74, 'les-07', '49'),
       (75, 'les-07', '58'), (76, 'les-07', '60'), (77, 'les-07', '61'),
       (78, 'les-07', '69'), (79, 'les-07', '70'), (80, 'les-07', '73'),
       (81, 'les-08', '12'), (82, 'les-08', '19'), (83, 'les-08', '22'),
       (84, 'les-08', '25'), (85, 'les-08', '37'), (86, 'les-08', '43'),
       (87, 'les-08', '48'), (88, 'les-08', '49'), (89, 'les-08', '70')],
      dtype=object)

In [29]:
#prep
tar_df = tar_df.drop(columns=['exec_code', 'parameters'])
def rel_delay(row):
    return row['expent_time'] / row['planned_time']

def abs_delay(row):
    return row['expent_time'] - row['planned_time']

tar_df['rel_delay'] = tar_df.apply(rel_delay, axis=1)
tar_df['abs_delay'] = tar_df.apply(abs_delay, axis=1)
tar_df = tar_df.sort_values(by="start_time").reset_index(drop=True)

KeyError: "['exec_code' 'parameters'] not found in axis"

# Each Failure

In [25]:
def iter_arr(arr):
    for e in arr:
        yield e
fail_iter = iter_arr(failures)

In [19]:
# play multiple times to iterate over failures

err_id, fexec_group, fsecnario_id = next(fail_iter)
print( f'failure {err_id} - {fexec_group}.{fsecnario_id})')

tar_df[(tar_df.exec_group==fexec_group) & (tar_df.scenario_id==fsecnario_id) & (tar_df.treatment == 'planned')]

failure 0 - les-01.19)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
683,aacaap,les-01,19,turtlebot4,navigation,navto_room,13.50,244.93,231.43,SUCCESS,137.066667,low-battery,planned,1.688448,94.363333
9626,aacaap,les-01,19,turtlebot4,approach_person,approach_nurse,244.93,245.53,0.60,SUCCESS,2.000000,low-battery,planned,0.300000,-1.400000
9652,aacaap,les-01,19,turtlebot4,authenticate_person,authenticate_nurse,245.55,246.23,0.68,SUCCESS,2.000000,low-battery,planned,0.340000,-1.320000
9668,aacaap,les-01,19,turtlebot4,operate_drawer,open_drawer_for_nurse,246.23,247.13,0.90,SUCCESS,2.000000,low-battery,planned,0.450000,-1.100000
9692,aacaap,les-01,19,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,247.15,250.27,3.12,SUCCESS,2.000000,low-battery,planned,1.560000,1.120000
9780,aacaap,les-01,19,turtlebot4,wait_message,wait_nurse_to_complete_deposit,250.28,252.05,1.77,SUCCESS,2.000000,low-battery,planned,0.885000,-0.230000
9838,aacaap,les-01,19,turtlebot4,operate_drawer,close_drawer_nurse,252.07,252.95,0.88,SUCCESS,2.000000,low-battery,planned,0.440000,-1.120000
9860,aacaap,les-01,19,turtlebot4,navigation,navto_lab,252.95,632.61,379.66,None,133.533333,low-battery,planned,2.843185,246.126667

In [31]:
from IPython.display import display
    
for err_id, fexec_group, fsecnario_id in failures:
    print( f'failure {err_id} - {fexec_group}.{fsecnario_id})')
    display(tar_df[(tar_df.exec_group==fexec_group) & (tar_df.scenario_id==fsecnario_id) & (tar_df.treatment == 'planned')])

failure 0 - les-01.19)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
683,aacaap,les-01,19,turtlebot4,navigation,navto_room,13.50,244.93,231.43,SUCCESS,137.066667,low-battery,planned,1.688448,94.363333
9626,aacaap,les-01,19,turtlebot4,approach_person,approach_nurse,244.93,245.53,0.60,SUCCESS,2.000000,low-battery,planned,0.300000,-1.400000
9652,aacaap,les-01,19,turtlebot4,authenticate_person,authenticate_nurse,245.55,246.23,0.68,SUCCESS,2.000000,low-battery,planned,0.340000,-1.320000
9668,aacaap,les-01,19,turtlebot4,operate_drawer,open_drawer_for_nurse,246.23,247.13,0.90,SUCCESS,2.000000,low-battery,planned,0.450000,-1.100000
9692,aacaap,les-01,19,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,247.15,250.27,3.12,SUCCESS,2.000000,low-battery,planned,1.560000,1.120000
9780,aacaap,les-01,19,turtlebot4,wait_message,wait_nurse_to_complete_deposit,250.28,252.05,1.77,SUCCESS,2.000000,low-battery,planned,0.885000,-0.230000
9838,aacaap,les-01,19,turtlebot4,operate_drawer,close_drawer_nurse,252.07,252.95,0.88,SUCCESS,2.000000,low-battery,planned,0.440000,-1.120000
9860,aacaap,les-01,19,turtlebot4,navigation,navto_lab,252.95,632.61,379.66,None,133.533333,low-battery,planned,2.843185,246.126667

failure 1 - les-01.22)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
381,aacbap,les-01,22,turtlebot4,navigation,navto_room,11.35,197.32,185.97,SUCCESS,137.066667,low-battery,planned,1.356785,48.903333
7251,aacbap,les-01,22,turtlebot4,approach_person,approach_nurse,197.33,200.05,2.72,SUCCESS,2.000000,low-battery,planned,1.360000,0.720000
7412,aacbap,les-01,22,turtlebot4,authenticate_person,authenticate_nurse,200.07,200.42,0.35,SUCCESS,2.000000,low-battery,planned,0.175000,-1.650000
7429,aacbap,les-01,22,turtlebot4,operate_drawer,open_drawer_for_nurse,200.42,201.27,0.85,SUCCESS,2.000000,low-battery,planned,0.425000,-1.150000
7473,aacbap,les-01,22,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,201.28,204.35,3.07,SUCCESS,2.000000,low-battery,planned,1.535000,1.070000
7758,aacbap,les-01,22,turtlebot4,wait_message,wait_nurse_to_complete_deposit,204.37,206.18,1.81,SUCCESS,2.000000,low-battery,planned,0.905000,-0.190000
7929,aacbap,les-01,22,turtlebot4,operate_drawer,close_drawer_nurse,206.18,207.10,0.92,SUCCESS,2.000000,low-battery,planned,0.460000,-1.080000
8024,aacbap,les-01,22,turtlebot4,navigation,navto_lab,207.10,655.63,448.53,None,133.533333,low-battery,planned,3.358937,314.996667

failure 2 - les-01.25)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
487,aaccap,les-01,25,turtlebot4,navigation,navto_room,12.17,215.98,203.81,SUCCESS,137.066667,low-battery,planned,1.486941,66.743333
8700,aaccap,les-01,25,turtlebot4,approach_person,approach_nurse,215.98,216.37,0.39,SUCCESS,2.000000,low-battery,planned,0.195000,-1.610000
8724,aaccap,les-01,25,turtlebot4,authenticate_person,authenticate_nurse,216.38,217.03,0.65,SUCCESS,2.000000,low-battery,planned,0.325000,-1.350000
8758,aaccap,les-01,25,turtlebot4,operate_drawer,open_drawer_for_nurse,217.03,217.88,0.85,SUCCESS,2.000000,low-battery,planned,0.425000,-1.150000
8809,aaccap,les-01,25,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,217.88,220.97,3.09,SUCCESS,2.000000,low-battery,planned,1.545000,1.090000
8929,aaccap,les-01,25,turtlebot4,wait_message,wait_nurse_to_complete_deposit,220.98,222.80,1.82,SUCCESS,2.000000,low-battery,planned,0.910000,-0.180000
9004,aaccap,les-01,25,turtlebot4,operate_drawer,close_drawer_nurse,222.80,223.68,0.88,SUCCESS,2.000000,low-battery,planned,0.440000,-1.120000
9032,aaccap,les-01,25,turtlebot4,navigation,navto_lab,223.68,659.64,435.96,None,133.533333,low-battery,planned,3.264803,302.426667

failure 3 - les-01.28)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
1124,abaaap,les-01,28,turtlebot4,navigation,navto_room,18.87,216.82,197.95,SUCCESS,137.066667,timeout-sim,planned,1.444188,60.883333
8747,abaaap,les-01,28,turtlebot4,approach_person,approach_nurse,216.82,217.47,0.65,SUCCESS,2.000000,timeout-sim,planned,0.325000,-1.350000
8783,abaaap,les-01,28,turtlebot4,authenticate_person,authenticate_nurse,217.48,218.42,0.94,SUCCESS,2.000000,timeout-sim,planned,0.470000,-1.060000
8825,abaaap,les-01,28,turtlebot4,operate_drawer,open_drawer_for_nurse,218.42,219.35,0.93,SUCCESS,2.000000,timeout-sim,planned,0.465000,-1.070000
8870,abaaap,les-01,28,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,219.35,222.55,3.20,SUCCESS,2.000000,timeout-sim,planned,1.600000,1.200000
8995,abaaap,les-01,28,turtlebot4,wait_message,wait_nurse_to_complete_deposit,222.55,224.28,1.73,SUCCESS,2.000000,timeout-sim,planned,0.865000,-0.270000
9049,abaaap,les-01,28,turtlebot4,operate_drawer,close_drawer_nurse,224.28,225.20,0.92,SUCCESS,2.000000,timeout-sim,planned,0.460000,-1.080000
9075,abaaap,les-01,28,turtlebot4,navigation,navto_lab,225.20,1290.21,1065.01,None,133.533333,timeout-sim,planned,7.975612,931.476667

failure 4 - les-01.36)

Empty DataFrame
Columns: [code, exec_group, scenario_id, robot, skill, label, start_time, end_time, expent_time, end_state, planned_time, trial_end_state, treatment, rel_delay, abs_delay]
Index: []

failure 5 - les-01.37)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
217,abbaap,les-01,37,turtlebot4,navigation,navto_room,9.57,197.77,188.20,SUCCESS,137.066667,timeout-sim,planned,1.373054,51.133333
7278,abbaap,les-01,37,turtlebot4,approach_person,approach_nurse,197.77,198.80,1.03,SUCCESS,2.000000,timeout-sim,planned,0.515000,-0.970000
7356,abbaap,les-01,37,turtlebot4,authenticate_person,authenticate_nurse,198.80,199.12,0.32,SUCCESS,2.000000,timeout-sim,planned,0.160000,-1.680000
7373,abbaap,les-01,37,turtlebot4,operate_drawer,open_drawer_for_nurse,199.12,199.98,0.86,SUCCESS,2.000000,timeout-sim,planned,0.430000,-1.140000
7409,abbaap,les-01,37,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,199.98,203.12,3.14,SUCCESS,2.000000,timeout-sim,planned,1.570000,1.140000
7629,abbaap,les-01,37,turtlebot4,wait_message,wait_nurse_to_complete_deposit,203.13,1272.22,1069.09,None,2.000000,timeout-sim,planned,534.545000,1067.090000

failure 6 - les-01.61)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
876,acacap,les-01,61,turtlebot3,navigation,navto_room,15.22,107.82,92.60,SUCCESS,44.466667,timeout-sim,planned,2.082459,48.133333
3605,acacap,les-01,61,turtlebot3,approach_person,approach_nurse,107.82,108.28,0.46,SUCCESS,2.000000,timeout-sim,planned,0.230000,-1.540000
3684,acacap,les-01,61,turtlebot3,authenticate_person,authenticate_nurse,108.28,109.18,0.90,SUCCESS,2.000000,timeout-sim,planned,0.450000,-1.100000
3853,acacap,les-01,61,turtlebot3,operate_drawer,open_drawer_for_nurse,109.18,110.10,0.92,SUCCESS,2.000000,timeout-sim,planned,0.460000,-1.080000
3999,acacap,les-01,61,turtlebot3,send_message,notify_nurse_of_open_drawer_for_nurse_completed,110.12,113.30,3.18,SUCCESS,2.000000,timeout-sim,planned,1.590000,1.180000
4499,acacap,les-01,61,turtlebot3,wait_message,wait_nurse_to_complete_deposit,113.32,115.07,1.75,SUCCESS,2.000000,timeout-sim,planned,0.875000,-0.250000
4716,acacap,les-01,61,turtlebot3,operate_drawer,close_drawer_nurse,115.07,115.98,0.91,SUCCESS,2.000000,timeout-sim,planned,0.455000,-1.090000
4809,acacap,les-01,61,turtlebot3,navigation,navto_lab,115.98,1286.25,1170.27,None,133.533333,timeout-sim,planned,8.763879,1036.736667

failure 7 - les-01.62)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
752,acacbp,les-01,62,turtlebot6,navigation,navto_room,14.08,102.38,88.30,SUCCESS,44.466667,timeout-sim,planned,1.985757,43.833333
2803,acacbp,les-01,62,turtlebot6,approach_person,approach_nurse,102.40,102.82,0.42,SUCCESS,2.000000,timeout-sim,planned,0.210000,-1.580000
2865,acacbp,les-01,62,turtlebot6,authenticate_person,authenticate_nurse,102.88,103.63,0.75,SUCCESS,2.000000,timeout-sim,planned,0.375000,-1.250000
2959,acacbp,les-01,62,turtlebot6,operate_drawer,open_drawer_for_nurse,103.63,104.52,0.89,SUCCESS,2.000000,timeout-sim,planned,0.445000,-1.110000
3079,acacbp,les-01,62,turtlebot6,send_message,notify_nurse_of_open_drawer_for_nurse_completed,104.52,107.73,3.21,SUCCESS,2.000000,timeout-sim,planned,1.605000,1.210000
3592,acacbp,les-01,62,turtlebot6,wait_message,wait_nurse_to_complete_deposit,107.73,1212.15,1104.42,None,2.000000,timeout-sim,planned,552.210000,1102.420000

failure 8 - les-01.63)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
532,acaccp,les-01,63,turtlebot6,navigation,navto_room,12.48,73.12,60.64,SUCCESS,35.133333,timeout-sim,planned,1.725996,25.506667
1552,acaccp,les-01,63,turtlebot6,approach_person,approach_nurse,73.12,73.70,0.58,SUCCESS,2.000000,timeout-sim,planned,0.290000,-1.420000
1604,acaccp,les-01,63,turtlebot6,authenticate_person,authenticate_nurse,73.70,74.10,0.40,SUCCESS,2.000000,timeout-sim,planned,0.200000,-1.600000
1651,acaccp,les-01,63,turtlebot6,operate_drawer,open_drawer_for_nurse,74.27,75.22,0.95,SUCCESS,2.000000,timeout-sim,planned,0.475000,-1.050000
1738,acaccp,les-01,63,turtlebot6,send_message,notify_nurse_of_open_drawer_for_nurse_completed,75.22,78.45,3.23,SUCCESS,2.000000,timeout-sim,planned,1.615000,1.230000
2011,acaccp,les-01,63,turtlebot6,wait_message,wait_nurse_to_complete_deposit,78.45,1233.17,1154.72,None,2.000000,timeout-sim,planned,577.360000,1152.720000

failure 9 - les-01.67)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
2990,acbbap,les-01,67,turtlebot3,approach_person,approach_nurse,103.83,104.22,0.39,SUCCESS,2.0,timeout-sim,planned,0.195,-1.61
3041,acbbap,les-01,67,turtlebot3,authenticate_person,authenticate_nurse,104.22,1244.19,1139.97,None,2.0,timeout-sim,planned,569.985,1137.97

failure 10 - les-02.19)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
570,aacaap,les-02,19,turtlebot4,navigation,navto_room,12.72,199.70,186.98,SUCCESS,137.066667,low-battery,planned,1.364154,49.913333
7403,aacaap,les-02,19,turtlebot4,approach_person,approach_nurse,199.70,201.37,1.67,SUCCESS,2.000000,low-battery,planned,0.835000,-0.330000
7474,aacaap,les-02,19,turtlebot4,authenticate_person,authenticate_nurse,201.37,201.72,0.35,SUCCESS,2.000000,low-battery,planned,0.175000,-1.650000
7505,aacaap,les-02,19,turtlebot4,operate_drawer,open_drawer_for_nurse,201.73,202.57,0.84,SUCCESS,2.000000,low-battery,planned,0.420000,-1.160000
7582,aacaap,les-02,19,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,202.58,205.72,3.14,SUCCESS,2.000000,low-battery,planned,1.570000,1.140000
7884,aacaap,les-02,19,turtlebot4,wait_message,wait_nurse_to_complete_deposit,205.72,207.48,1.76,SUCCESS,2.000000,low-battery,planned,0.880000,-0.240000
8063,aacaap,les-02,19,turtlebot4,operate_drawer,close_drawer_nurse,207.48,208.42,0.94,SUCCESS,2.000000,low-battery,planned,0.470000,-1.060000
8154,aacaap,les-02,19,turtlebot4,navigation,navto_lab,208.43,629.60,421.17,None,133.533333,low-battery,planned,3.154044,287.636667

failure 11 - les-02.20)

Empty DataFrame
Columns: [code, exec_group, scenario_id, robot, skill, label, start_time, end_time, expent_time, end_state, planned_time, trial_end_state, treatment, rel_delay, abs_delay]
Index: []

failure 12 - les-02.22)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
308,aacbap,les-02,22,turtlebot4,navigation,navto_room,10.57,206.45,195.88,SUCCESS,137.066667,low-battery,planned,1.429086,58.813333
7958,aacbap,les-02,22,turtlebot4,approach_person,approach_nurse,206.45,206.83,0.38,SUCCESS,2.000000,low-battery,planned,0.190000,-1.620000
8003,aacbap,les-02,22,turtlebot4,authenticate_person,authenticate_nurse,206.83,207.35,0.52,SUCCESS,2.000000,low-battery,planned,0.260000,-1.480000
8051,aacbap,les-02,22,turtlebot4,operate_drawer,open_drawer_for_nurse,207.35,208.23,0.88,SUCCESS,2.000000,low-battery,planned,0.440000,-1.120000
8130,aacbap,les-02,22,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,208.23,211.37,3.14,SUCCESS,2.000000,low-battery,planned,1.570000,1.140000
8416,aacbap,les-02,22,turtlebot4,wait_message,wait_nurse_to_complete_deposit,211.38,213.18,1.80,SUCCESS,2.000000,low-battery,planned,0.900000,-0.200000
8524,aacbap,les-02,22,turtlebot4,operate_drawer,close_drawer_nurse,213.18,214.07,0.89,SUCCESS,2.000000,low-battery,planned,0.445000,-1.110000
8579,aacbap,les-02,22,turtlebot4,navigation,navto_lab,214.07,645.63,431.56,None,133.533333,low-battery,planned,3.231852,298.026667

failure 13 - les-02.25)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
531,aaccap,les-02,25,turtlebot4,navigation,navto_room,12.47,197.95,185.48,SUCCESS,137.066667,low-battery,planned,1.35321,48.413333
7296,aaccap,les-02,25,turtlebot4,approach_person,approach_nurse,197.95,198.33,0.38,SUCCESS,2.000000,low-battery,planned,0.19000,-1.620000
7326,aaccap,les-02,25,turtlebot4,authenticate_person,authenticate_nurse,198.35,199.32,0.97,SUCCESS,2.000000,low-battery,planned,0.48500,-1.030000
7384,aaccap,les-02,25,turtlebot4,operate_drawer,open_drawer_for_nurse,199.32,200.22,0.90,SUCCESS,2.000000,low-battery,planned,0.45000,-1.100000
7418,aaccap,les-02,25,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,200.22,203.37,3.15,SUCCESS,2.000000,low-battery,planned,1.57500,1.150000
7664,aaccap,les-02,25,turtlebot4,wait_message,wait_nurse_to_complete_deposit,203.37,605.58,402.21,None,2.000000,low-battery,planned,201.10500,400.210000

failure 14 - les-02.28)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
1022,abaaap,les-02,28,turtlebot4,navigation,navto_room,17.10,204.27,187.17,SUCCESS,137.066667,timeout-sim,planned,1.365540,50.103333
7751,abaaap,les-02,28,turtlebot4,approach_person,approach_nurse,204.27,204.63,0.36,SUCCESS,2.000000,timeout-sim,planned,0.180000,-1.640000
7787,abaaap,les-02,28,turtlebot4,authenticate_person,authenticate_nurse,204.63,205.62,0.99,SUCCESS,2.000000,timeout-sim,planned,0.495000,-1.010000
7879,abaaap,les-02,28,turtlebot4,operate_drawer,open_drawer_for_nurse,205.62,206.55,0.93,SUCCESS,2.000000,timeout-sim,planned,0.465000,-1.070000
7969,abaaap,les-02,28,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,206.55,209.73,3.18,SUCCESS,2.000000,timeout-sim,planned,1.590000,1.180000
8288,abaaap,les-02,28,turtlebot4,wait_message,wait_nurse_to_complete_deposit,209.73,211.47,1.74,SUCCESS,2.000000,timeout-sim,planned,0.870000,-0.260000
8424,abaaap,les-02,28,turtlebot4,operate_drawer,close_drawer_nurse,211.48,212.42,0.94,SUCCESS,2.000000,timeout-sim,planned,0.470000,-1.060000
8470,abaaap,les-02,28,turtlebot4,navigation,navto_lab,212.43,1231.18,1018.75,None,133.533333,timeout-sim,planned,7.629181,885.216667

failure 15 - les-02.43)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
1174,abbcap,les-02,43,turtlebot3,navigation,navto_room,20.27,113.90,93.63,SUCCESS,44.466667,low-battery,planned,2.105622,49.163333
4575,abbcap,les-02,43,turtlebot3,approach_person,approach_nurse,113.90,114.32,0.42,SUCCESS,2.000000,low-battery,planned,0.210000,-1.580000
4627,abbcap,les-02,43,turtlebot3,authenticate_person,authenticate_nurse,114.32,115.10,0.78,SUCCESS,2.000000,low-battery,planned,0.390000,-1.220000
4719,abbcap,les-02,43,turtlebot3,operate_drawer,open_drawer_for_nurse,115.10,115.97,0.87,SUCCESS,2.000000,low-battery,planned,0.435000,-1.130000
4808,abbcap,les-02,43,turtlebot3,send_message,notify_nurse_of_open_drawer_for_nurse_completed,115.98,119.18,3.20,SUCCESS,2.000000,low-battery,planned,1.600000,1.200000
5046,abbcap,les-02,43,turtlebot3,wait_message,wait_nurse_to_complete_deposit,119.20,120.95,1.75,SUCCESS,2.000000,low-battery,planned,0.875000,-0.250000
5120,abbcap,les-02,43,turtlebot3,operate_drawer,close_drawer_nurse,120.95,121.85,0.90,SUCCESS,2.000000,low-battery,planned,0.450000,-1.100000
5160,abbcap,les-02,43,turtlebot3,navigation,navto_lab,121.85,968.93,847.08,None,133.533333,low-battery,planned,6.343585,713.546667

failure 16 - les-02.46)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
158,abcaap,les-02,46,turtlebot4,navigation,navto_room,8.78,223.62,214.84,SUCCESS,137.066667,timeout-sim,planned,1.567412,77.773333
9029,abcaap,les-02,46,turtlebot4,approach_person,approach_nurse,223.63,224.02,0.39,SUCCESS,2.000000,timeout-sim,planned,0.195000,-1.610000
9040,abcaap,les-02,46,turtlebot4,authenticate_person,authenticate_nurse,224.02,224.50,0.48,SUCCESS,2.000000,timeout-sim,planned,0.240000,-1.520000
9057,abcaap,les-02,46,turtlebot4,operate_drawer,open_drawer_for_nurse,224.52,225.38,0.86,SUCCESS,2.000000,timeout-sim,planned,0.430000,-1.140000
9080,abcaap,les-02,46,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,225.38,228.62,3.24,SUCCESS,2.000000,timeout-sim,planned,1.620000,1.240000
9161,abcaap,les-02,46,turtlebot4,wait_message,wait_nurse_to_complete_deposit,228.63,230.45,1.82,SUCCESS,2.000000,timeout-sim,planned,0.910000,-0.180000
9200,abcaap,les-02,46,turtlebot4,operate_drawer,close_drawer_nurse,230.45,231.37,0.92,SUCCESS,2.000000,timeout-sim,planned,0.460000,-1.080000
9220,abcaap,les-02,46,turtlebot4,navigation,navto_lab,231.38,1308.25,1076.87,None,133.533333,timeout-sim,planned,8.064428,943.336667

failure 17 - les-02.50)

Empty DataFrame
Columns: [code, exec_group, scenario_id, robot, skill, label, start_time, end_time, expent_time, end_state, planned_time, trial_end_state, treatment, rel_delay, abs_delay]
Index: []

failure 18 - les-02.55)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
231,acaaap,les-02,55,turtlebot4,navigation,navto_room,9.68,225.78,216.10,SUCCESS,137.066667,low-battery,planned,1.576605,79.033333
9093,acaaap,les-02,55,turtlebot4,approach_person,approach_nurse,225.78,226.17,0.39,SUCCESS,2.000000,low-battery,planned,0.195000,-1.610000
9102,acaaap,les-02,55,turtlebot4,authenticate_person,authenticate_nurse,226.17,226.88,0.71,SUCCESS,2.000000,low-battery,planned,0.355000,-1.290000
9120,acaaap,les-02,55,turtlebot4,operate_drawer,open_drawer_for_nurse,226.88,227.78,0.90,SUCCESS,2.000000,low-battery,planned,0.450000,-1.100000
9138,acaaap,les-02,55,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,227.78,230.88,3.10,SUCCESS,2.000000,low-battery,planned,1.550000,1.100000
9209,acaaap,les-02,55,turtlebot4,wait_message,wait_nurse_to_complete_deposit,230.88,232.75,1.87,SUCCESS,2.000000,low-battery,planned,0.935000,-0.130000
9247,acaaap,les-02,55,turtlebot4,operate_drawer,close_drawer_nurse,232.77,233.60,0.83,SUCCESS,2.000000,low-battery,planned,0.415000,-1.170000
9271,acaaap,les-02,55,turtlebot4,navigation,navto_lab,233.60,1081.04,847.44,None,133.533333,low-battery,planned,6.346281,713.906667

failure 19 - les-02.73)

Empty DataFrame
Columns: [code, exec_group, scenario_id, robot, skill, label, start_time, end_time, expent_time, end_state, planned_time, trial_end_state, treatment, rel_delay, abs_delay]
Index: []

failure 20 - les-03.02)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
18,aaaabp,les-03,02,turtlebot2,navigation,navto_room,4.58,178.80,174.22,SUCCESS,176.666667,timeout-sim,planned,0.986151,-2.446667
6659,aaaabp,les-03,02,turtlebot2,approach_person,approach_nurse,178.80,179.05,0.25,SUCCESS,2.000000,timeout-sim,planned,0.125000,-1.750000
6675,aaaabp,les-03,02,turtlebot2,authenticate_person,authenticate_nurse,179.07,179.57,0.50,SUCCESS,2.000000,timeout-sim,planned,0.250000,-1.500000
6708,aaaabp,les-03,02,turtlebot2,operate_drawer,open_drawer_for_nurse,179.57,180.42,0.85,SUCCESS,2.000000,timeout-sim,planned,0.425000,-1.150000
6738,aaaabp,les-03,02,turtlebot2,send_message,notify_nurse_of_open_drawer_for_nurse_completed,180.42,183.48,3.06,SUCCESS,2.000000,timeout-sim,planned,1.530000,1.060000
6834,aaaabp,les-03,02,turtlebot2,wait_message,wait_nurse_to_complete_deposit,183.48,1277.22,1093.74,None,2.000000,timeout-sim,planned,546.870000,1091.740000

failure 21 - les-03.19)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
462,aacaap,les-03,19,turtlebot4,navigation,navto_room,12.03,204.48,192.45,SUCCESS,137.066667,low-battery,planned,1.404061,55.383333
7775,aacaap,les-03,19,turtlebot4,approach_person,approach_nurse,204.48,205.10,0.62,SUCCESS,2.000000,low-battery,planned,0.310000,-1.380000
7832,aacaap,les-03,19,turtlebot4,authenticate_person,authenticate_nurse,205.12,205.48,0.36,SUCCESS,2.000000,low-battery,planned,0.180000,-1.640000
7860,aacaap,les-03,19,turtlebot4,operate_drawer,open_drawer_for_nurse,205.48,206.38,0.90,SUCCESS,2.000000,low-battery,planned,0.450000,-1.100000
7954,aacaap,les-03,19,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,206.38,209.55,3.17,SUCCESS,2.000000,low-battery,planned,1.585000,1.170000
8273,aacaap,les-03,19,turtlebot4,wait_message,wait_nurse_to_complete_deposit,209.55,211.32,1.77,SUCCESS,2.000000,low-battery,planned,0.885000,-0.230000
8410,aacaap,les-03,19,turtlebot4,operate_drawer,close_drawer_nurse,211.33,212.23,0.90,SUCCESS,2.000000,low-battery,planned,0.450000,-1.100000
8462,aacaap,les-03,19,turtlebot4,navigation,navto_lab,212.23,627.61,415.38,None,133.533333,low-battery,planned,3.110684,281.846667

failure 22 - les-03.22)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
7220,aacbap,les-03,22,turtlebot4,approach_person,approach_nurse,196.77,197.13,0.36,SUCCESS,2.000000,low-battery,planned,0.180000,-1.640000
7240,aacbap,les-03,22,turtlebot4,authenticate_person,authenticate_nurse,197.13,197.85,0.72,SUCCESS,2.000000,low-battery,planned,0.360000,-1.280000
7286,aacbap,les-03,22,turtlebot4,operate_drawer,open_drawer_for_nurse,197.85,198.68,0.83,SUCCESS,2.000000,low-battery,planned,0.415000,-1.170000
7350,aacbap,les-03,22,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,198.70,201.78,3.08,SUCCESS,2.000000,low-battery,planned,1.540000,1.080000
7510,aacbap,les-03,22,turtlebot4,wait_message,wait_nurse_to_complete_deposit,201.78,203.62,1.84,SUCCESS,2.000000,low-battery,planned,0.920000,-0.160000
7691,aacbap,les-03,22,turtlebot4,operate_drawer,close_drawer_nurse,203.62,204.48,0.86,SUCCESS,2.000000,low-battery,planned,0.430000,-1.140000
7774,aacbap,les-03,22,turtlebot4,navigation,navto_lab,204.48,638.61,434.13,None,133.533333,low-battery,planned,3.251098,300.596667

failure 23 - les-03.25)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
1066,aaccap,les-03,25,turtlebot4,navigation,navto_room,17.72,204.37,186.65,SUCCESS,137.066667,low-battery,planned,1.361746,49.583333
7759,aaccap,les-03,25,turtlebot4,approach_person,approach_nurse,204.37,204.95,0.58,SUCCESS,2.000000,low-battery,planned,0.290000,-1.420000
7820,aaccap,les-03,25,turtlebot4,authenticate_person,authenticate_nurse,204.97,205.38,0.41,SUCCESS,2.000000,low-battery,planned,0.205000,-1.590000
7849,aaccap,les-03,25,turtlebot4,operate_drawer,open_drawer_for_nurse,205.38,206.25,0.87,SUCCESS,2.000000,low-battery,planned,0.435000,-1.130000
7935,aaccap,les-03,25,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,206.25,209.43,3.18,SUCCESS,2.000000,low-battery,planned,1.590000,1.180000
8257,aaccap,les-03,25,turtlebot4,wait_message,wait_nurse_to_complete_deposit,209.45,211.23,1.78,SUCCESS,2.000000,low-battery,planned,0.890000,-0.220000
8406,aaccap,les-03,25,turtlebot4,operate_drawer,close_drawer_nurse,211.23,212.15,0.92,SUCCESS,2.000000,low-battery,planned,0.460000,-1.080000
8458,aaccap,les-03,25,turtlebot4,navigation,navto_lab,212.15,620.92,408.77,None,133.533333,low-battery,planned,3.061183,275.236667

failure 24 - les-03.28)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
29,abaaap,les-03,28,turtlebot4,navigation,navto_room,6.08,215.53,209.45,SUCCESS,137.066667,timeout-sim,planned,1.528089,72.383333
8674,abaaap,les-03,28,turtlebot4,approach_person,approach_nurse,215.53,216.15,0.62,SUCCESS,2.000000,timeout-sim,planned,0.310000,-1.380000
8711,abaaap,les-03,28,turtlebot4,authenticate_person,authenticate_nurse,216.15,216.52,0.37,SUCCESS,2.000000,timeout-sim,planned,0.185000,-1.630000
8733,abaaap,les-03,28,turtlebot4,operate_drawer,open_drawer_for_nurse,216.52,217.38,0.86,SUCCESS,2.000000,timeout-sim,planned,0.430000,-1.140000
8776,abaaap,les-03,28,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,217.38,220.48,3.10,SUCCESS,2.000000,timeout-sim,planned,1.550000,1.100000
8918,abaaap,les-03,28,turtlebot4,wait_message,wait_nurse_to_complete_deposit,220.48,222.50,2.02,SUCCESS,2.000000,timeout-sim,planned,1.010000,0.020000
8993,abaaap,les-03,28,turtlebot4,operate_drawer,close_drawer_nurse,222.50,223.37,0.87,SUCCESS,2.000000,timeout-sim,planned,0.435000,-1.130000
9019,abaaap,les-03,28,turtlebot4,navigation,navto_lab,223.37,1353.28,1129.91,None,133.533333,timeout-sim,planned,8.461633,996.376667

failure 25 - les-03.32)

Empty DataFrame
Columns: [code, exec_group, scenario_id, robot, skill, label, start_time, end_time, expent_time, end_state, planned_time, trial_end_state, treatment, rel_delay, abs_delay]
Index: []

failure 26 - les-03.40)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
539,abbbap,les-03,40,turtlebot3,navigation,navto_room,12.53,105.90,93.37,SUCCESS,44.466667,low-battery,planned,2.099775,48.903333
3290,abbbap,les-03,40,turtlebot3,approach_person,approach_nurse,105.90,106.67,0.77,SUCCESS,2.000000,low-battery,planned,0.385000,-1.230000
3413,abbbap,les-03,40,turtlebot3,authenticate_person,authenticate_nurse,106.68,107.10,0.42,SUCCESS,2.000000,low-battery,planned,0.210000,-1.580000
3484,abbbap,les-03,40,turtlebot3,operate_drawer,open_drawer_for_nurse,107.12,108.03,0.91,SUCCESS,2.000000,low-battery,planned,0.455000,-1.090000
3643,abbbap,les-03,40,turtlebot3,send_message,notify_nurse_of_open_drawer_for_nurse_completed,108.03,111.17,3.14,SUCCESS,2.000000,low-battery,planned,1.570000,1.140000
4181,abbbap,les-03,40,turtlebot3,wait_message,wait_nurse_to_complete_deposit,111.17,112.92,1.75,SUCCESS,2.000000,low-battery,planned,0.875000,-0.250000
4443,abbbap,les-03,40,turtlebot3,operate_drawer,close_drawer_nurse,112.93,113.78,0.85,SUCCESS,2.000000,low-battery,planned,0.425000,-1.150000
4564,abbbap,les-03,40,turtlebot3,navigation,navto_lab,113.80,971.94,858.14,None,133.533333,low-battery,planned,6.426410,724.606667

failure 27 - les-03.51)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
175,abcbcp,les-03,51,turtlebot6,navigation,navto_room,9.00,68.30,59.30,SUCCESS,35.133333,timeout-sim,planned,1.687856,24.166667
1305,abcbcp,les-03,51,turtlebot6,approach_person,approach_nurse,68.32,68.68,0.36,SUCCESS,2.000000,timeout-sim,planned,0.180000,-1.640000
1321,abcbcp,les-03,51,turtlebot6,authenticate_person,authenticate_nurse,68.68,69.48,0.80,SUCCESS,2.000000,timeout-sim,planned,0.400000,-1.200000
1368,abcbcp,les-03,51,turtlebot6,operate_drawer,open_drawer_for_nurse,69.65,70.52,0.87,SUCCESS,2.000000,timeout-sim,planned,0.435000,-1.130000
1407,abcbcp,les-03,51,turtlebot6,send_message,notify_nurse_of_open_drawer_for_nurse_completed,70.52,73.58,3.06,SUCCESS,2.000000,timeout-sim,planned,1.530000,1.060000
1593,abcbcp,les-03,51,turtlebot6,wait_message,wait_nurse_to_complete_deposit,73.60,75.38,1.78,SUCCESS,2.000000,timeout-sim,planned,0.890000,-0.220000
1750,abcbcp,les-03,51,turtlebot6,operate_drawer,close_drawer_nurse,75.38,76.28,0.90,SUCCESS,2.000000,timeout-sim,planned,0.450000,-1.100000
1839,abcbcp,les-03,51,turtlebot6,navigation,navto_lab,76.28,170.65,94.37,SUCCESS,50.000000,timeout-sim,planned,1.887400,44.370000
6078,abcbcp,les-03,51,turtlebot6,approach_robot,approach_arm,170.67,171.15,0.48,SUCCESS,2.000000,timeout-sim,planned,0.240000,-1.520000
6122,abcbcp,les-03,51,turtlebot6,operate_drawer,open_drawer_lab,171.15,172.03,0.88,SUCCESS,2.000000,timeout-sim,planned,0.440000,-1.120000
6194,abcbcp,les-03,51,turtlebot6,send_message,notify_lab_arm_of_open_drawer_lab_completed,172.03,175.18,3.15,SUCCESS,2.000000,timeout-sim,planned,1.575000,1.150000
6408,abcbcp,les-03,51,turtlebot6,wait_message,wait_lab_arm_to_complete_pick_up_sample,175.18,1266.20,1091.02,None,2.000000,timeout-sim,planned,545.510000,1089.020000

failure 28 - les-03.64)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
1017,acbaap,les-03,64,turtlebot4,navigation,navto_room,17.03,214.18,197.15,SUCCESS,137.066667,low-battery,planned,1.438351,60.083333
8588,acbaap,les-03,64,turtlebot4,approach_person,approach_nurse,214.20,214.57,0.37,SUCCESS,2.000000,low-battery,planned,0.185000,-1.630000
8613,acbaap,les-03,64,turtlebot4,authenticate_person,authenticate_nurse,214.58,215.20,0.62,SUCCESS,2.000000,low-battery,planned,0.310000,-1.380000
8651,acbaap,les-03,64,turtlebot4,operate_drawer,open_drawer_for_nurse,215.22,216.13,0.91,SUCCESS,2.000000,low-battery,planned,0.455000,-1.090000
8709,acbaap,les-03,64,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,216.13,219.32,3.19,SUCCESS,2.000000,low-battery,planned,1.595000,1.190000
8868,acbaap,les-03,64,turtlebot4,wait_message,wait_nurse_to_complete_deposit,219.33,221.13,1.80,SUCCESS,2.000000,low-battery,planned,0.900000,-0.200000
8937,acbaap,les-03,64,turtlebot4,operate_drawer,close_drawer_nurse,221.15,222.03,0.88,SUCCESS,2.000000,low-battery,planned,0.440000,-1.120000
8972,acbaap,les-03,64,turtlebot4,navigation,navto_lab,222.03,1019.96,797.93,None,133.533333,low-battery,planned,5.975512,664.396667

failure 29 - les-03.70)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
566,acbcap,les-03,70,turtlebot3,navigation,navto_room,12.70,105.03,92.33,SUCCESS,44.466667,timeout-sim,planned,2.076387,47.863333
3157,acbcap,les-03,70,turtlebot3,approach_person,approach_nurse,105.03,105.38,0.35,SUCCESS,2.000000,timeout-sim,planned,0.175000,-1.650000
3200,acbcap,les-03,70,turtlebot3,authenticate_person,authenticate_nurse,105.38,105.90,0.52,SUCCESS,2.000000,timeout-sim,planned,0.260000,-1.480000
3291,acbcap,les-03,70,turtlebot3,operate_drawer,open_drawer_for_nurse,105.92,106.77,0.85,SUCCESS,2.000000,timeout-sim,planned,0.425000,-1.150000
3423,acbcap,les-03,70,turtlebot3,send_message,notify_nurse_of_open_drawer_for_nurse_completed,106.77,109.88,3.11,SUCCESS,2.000000,timeout-sim,planned,1.555000,1.110000
3966,acbcap,les-03,70,turtlebot3,wait_message,wait_nurse_to_complete_deposit,109.88,111.70,1.82,SUCCESS,2.000000,timeout-sim,planned,0.910000,-0.180000
4263,acbcap,les-03,70,turtlebot3,operate_drawer,close_drawer_nurse,111.72,112.58,0.86,SUCCESS,2.000000,timeout-sim,planned,0.430000,-1.140000
4387,acbcap,les-03,70,turtlebot3,navigation,navto_lab,112.58,1302.26,1189.68,None,133.533333,timeout-sim,planned,8.909236,1056.146667

failure 30 - les-03.73)

Empty DataFrame
Columns: [code, exec_group, scenario_id, robot, skill, label, start_time, end_time, expent_time, end_state, planned_time, trial_end_state, treatment, rel_delay, abs_delay]
Index: []

failure 31 - les-03.76)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
1209,accbap,les-03,76,turtlebot3,navigation,navto_room,22.20,123.17,100.97,SUCCESS,44.466667,timeout-sim,planned,2.270690,56.503333
5201,accbap,les-03,76,turtlebot3,approach_person,approach_nurse,123.17,123.57,0.40,SUCCESS,2.000000,timeout-sim,planned,0.200000,-1.600000
5219,accbap,les-03,76,turtlebot3,authenticate_person,authenticate_nurse,123.58,124.33,0.75,SUCCESS,2.000000,timeout-sim,planned,0.375000,-1.250000
5243,accbap,les-03,76,turtlebot3,operate_drawer,open_drawer_for_nurse,124.35,125.23,0.88,SUCCESS,2.000000,timeout-sim,planned,0.440000,-1.120000
5278,accbap,les-03,76,turtlebot3,send_message,notify_nurse_of_open_drawer_for_nurse_completed,125.23,128.38,3.15,SUCCESS,2.000000,timeout-sim,planned,1.575000,1.150000
5357,accbap,les-03,76,turtlebot3,wait_message,wait_nurse_to_complete_deposit,128.40,130.18,1.78,SUCCESS,2.000000,timeout-sim,planned,0.890000,-0.220000
5399,accbap,les-03,76,turtlebot3,operate_drawer,close_drawer_nurse,130.18,131.08,0.90,SUCCESS,2.000000,timeout-sim,planned,0.450000,-1.100000
5433,accbap,les-03,76,turtlebot3,navigation,navto_lab,131.08,1280.22,1149.14,None,133.533333,timeout-sim,planned,8.605642,1015.606667

failure 32 - les-03.79)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
409,acccap,les-03,79,turtlebot3,navigation,navto_room,11.63,102.87,91.24,SUCCESS,44.466667,timeout-sim,planned,2.051874,46.773333
2863,acccap,les-03,79,turtlebot3,approach_person,approach_nurse,102.87,103.37,0.50,SUCCESS,2.000000,timeout-sim,planned,0.250000,-1.500000
2933,acccap,les-03,79,turtlebot3,authenticate_person,authenticate_nurse,103.37,103.77,0.40,SUCCESS,2.000000,timeout-sim,planned,0.200000,-1.600000
2983,acccap,les-03,79,turtlebot3,operate_drawer,open_drawer_for_nurse,103.77,104.50,0.73,SUCCESS,2.000000,timeout-sim,planned,0.365000,-1.270000
3076,acccap,les-03,79,turtlebot3,send_message,notify_nurse_of_open_drawer_for_nurse_completed,104.52,107.52,3.00,SUCCESS,2.000000,timeout-sim,planned,1.500000,1.000000
3554,acccap,les-03,79,turtlebot3,wait_message,wait_nurse_to_complete_deposit,107.52,109.52,2.00,SUCCESS,2.000000,timeout-sim,planned,1.000000,0.000000
3911,acccap,les-03,79,turtlebot3,operate_drawer,close_drawer_nurse,109.52,110.38,0.86,SUCCESS,2.000000,timeout-sim,planned,0.430000,-1.140000
4048,acccap,les-03,79,turtlebot3,navigation,navto_lab,110.40,1277.22,1166.82,None,133.533333,timeout-sim,planned,8.738043,1033.286667

failure 33 - les-03.81)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
629,accccp,les-03,81,turtlebot6,navigation,navto_room,13.17,73.07,59.90,SUCCESS,35.133333,timeout-sim,planned,1.704934,24.766667
1546,accccp,les-03,81,turtlebot6,approach_person,approach_nurse,73.07,73.67,0.60,SUCCESS,2.000000,timeout-sim,planned,0.300000,-1.400000
1599,accccp,les-03,81,turtlebot6,authenticate_person,authenticate_nurse,73.67,74.70,1.03,SUCCESS,2.000000,timeout-sim,planned,0.515000,-0.970000
1691,accccp,les-03,81,turtlebot6,operate_drawer,open_drawer_for_nurse,74.72,75.63,0.91,SUCCESS,2.000000,timeout-sim,planned,0.455000,-1.090000
1779,accccp,les-03,81,turtlebot6,send_message,notify_nurse_of_open_drawer_for_nurse_completed,75.63,78.68,3.05,SUCCESS,2.000000,timeout-sim,planned,1.525000,1.050000
2029,accccp,les-03,81,turtlebot6,wait_message,wait_nurse_to_complete_deposit,78.68,80.53,1.85,SUCCESS,2.000000,timeout-sim,planned,0.925000,-0.150000
2131,accccp,les-03,81,turtlebot6,operate_drawer,close_drawer_nurse,80.53,81.43,0.90,SUCCESS,2.000000,timeout-sim,planned,0.450000,-1.100000
2199,accccp,les-03,81,turtlebot6,navigation,navto_lab,81.43,175.27,93.84,SUCCESS,50.000000,timeout-sim,planned,1.876800,43.840000
6418,accccp,les-03,81,turtlebot6,approach_robot,approach_arm,175.28,176.32,1.04,SUCCESS,2.000000,timeout-sim,planned,0.520000,-0.960000
6491,accccp,les-03,81,turtlebot6,operate_drawer,open_drawer_lab,176.32,177.22,0.90,SUCCESS,2.000000,timeout-sim,planned,0.450000,-1.100000
6553,accccp,les-03,81,turtlebot6,send_message,notify_lab_arm_of_open_drawer_lab_completed,177.22,180.42,3.20,SUCCESS,2.000000,timeout-sim,planned,1.600000,1.200000
6736,accccp,les-03,81,turtlebot6,wait_message,wait_lab_arm_to_complete_pick_up_sample,180.42,1249.18,1068.76,None,2.000000,timeout-sim,planned,534.380000,1066.760000

failure 34 - les-04.13)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
154,aabbap,les-04,13,turtlebot6,navigation,navto_room,8.68,1349.29,1340.61,None,148.466667,timeout-sim,planned,9.029704,1192.143333

failure 35 - les-04.19)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
1113,aacaap,les-04,19,turtlebot4,navigation,navto_room,18.68,205.38,186.70,SUCCESS,137.066667,low-battery,planned,1.362111,49.633333
7850,aacaap,les-04,19,turtlebot4,approach_person,approach_nurse,205.38,205.77,0.39,SUCCESS,2.000000,low-battery,planned,0.195000,-1.610000
7890,aacaap,les-04,19,turtlebot4,authenticate_person,authenticate_nurse,205.78,206.62,0.84,SUCCESS,2.000000,low-battery,planned,0.420000,-1.160000
7974,aacaap,les-04,19,turtlebot4,operate_drawer,open_drawer_for_nurse,206.62,207.53,0.91,SUCCESS,2.000000,low-battery,planned,0.455000,-1.090000
8066,aacaap,les-04,19,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,207.53,210.68,3.15,SUCCESS,2.000000,low-battery,planned,1.575000,1.150000
8367,aacaap,les-04,19,turtlebot4,wait_message,wait_nurse_to_complete_deposit,210.68,212.45,1.77,SUCCESS,2.000000,low-battery,planned,0.885000,-0.230000
8472,aacaap,les-04,19,turtlebot4,operate_drawer,close_drawer_nurse,212.45,213.35,0.90,SUCCESS,2.000000,low-battery,planned,0.450000,-1.100000
8535,aacaap,les-04,19,turtlebot4,navigation,navto_lab,213.35,622.60,409.25,None,133.533333,low-battery,planned,3.064778,275.716667

failure 36 - les-04.25)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
309,aaccap,les-04,25,turtlebot4,navigation,navto_room,10.57,227.33,216.76,SUCCESS,137.066667,low-battery,planned,1.58142,79.693333
9132,aaccap,les-04,25,turtlebot4,approach_person,approach_nurse,227.33,227.92,0.59,SUCCESS,2.000000,low-battery,planned,0.29500,-1.410000
9141,aaccap,les-04,25,turtlebot4,authenticate_person,authenticate_nurse,227.93,651.63,423.70,None,2.000000,low-battery,planned,211.85000,421.700000

failure 37 - les-04.34)

Empty DataFrame
Columns: [code, exec_group, scenario_id, robot, skill, label, start_time, end_time, expent_time, end_state, planned_time, trial_end_state, treatment, rel_delay, abs_delay]
Index: []

failure 38 - les-04.43)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
746,abbcap,les-04,43,turtlebot3,navigation,navto_room,14.07,108.08,94.01,SUCCESS,44.466667,low-battery,planned,2.114168,49.543333
3655,abbcap,les-04,43,turtlebot3,approach_person,approach_nurse,108.08,108.52,0.44,SUCCESS,2.000000,low-battery,planned,0.220000,-1.560000
3761,abbcap,les-04,43,turtlebot3,authenticate_person,authenticate_nurse,108.67,109.38,0.71,SUCCESS,2.000000,low-battery,planned,0.355000,-1.290000
3887,abbcap,les-04,43,turtlebot3,operate_drawer,open_drawer_for_nurse,109.38,110.32,0.94,SUCCESS,2.000000,low-battery,planned,0.470000,-1.060000
4037,abbcap,les-04,43,turtlebot3,send_message,notify_nurse_of_open_drawer_for_nurse_completed,110.32,113.70,3.38,SUCCESS,2.000000,low-battery,planned,1.690000,1.380000
4547,abbcap,les-04,43,turtlebot3,wait_message,wait_nurse_to_complete_deposit,113.70,114.45,0.75,SUCCESS,2.000000,low-battery,planned,0.375000,-1.250000
4641,abbcap,les-04,43,turtlebot3,operate_drawer,close_drawer_nurse,114.45,115.38,0.93,SUCCESS,2.000000,low-battery,planned,0.465000,-1.070000
4750,abbcap,les-04,43,turtlebot3,navigation,navto_lab,115.40,703.67,588.27,None,133.533333,low-battery,planned,4.405417,454.736667

failure 39 - les-04.46)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
675,abcaap,les-04,46,turtlebot4,navigation,navto_room,13.45,201.78,188.33,SUCCESS,137.066667,timeout-sim,planned,1.374003,51.263333
7509,abcaap,les-04,46,turtlebot4,approach_person,approach_nurse,201.78,202.22,0.44,SUCCESS,2.000000,timeout-sim,planned,0.220000,-1.560000
7541,abcaap,les-04,46,turtlebot4,authenticate_person,authenticate_nurse,202.22,202.85,0.63,SUCCESS,2.000000,timeout-sim,planned,0.315000,-1.370000
7599,abcaap,les-04,46,turtlebot4,operate_drawer,open_drawer_for_nurse,202.85,203.75,0.90,SUCCESS,2.000000,timeout-sim,planned,0.450000,-1.100000
7701,abcaap,les-04,46,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,203.75,207.12,3.37,SUCCESS,2.000000,timeout-sim,planned,1.685000,1.370000
8031,abcaap,les-04,46,turtlebot4,wait_message,wait_nurse_to_complete_deposit,207.13,207.85,0.72,SUCCESS,2.000000,timeout-sim,planned,0.360000,-1.280000
8092,abcaap,les-04,46,turtlebot4,operate_drawer,close_drawer_nurse,207.87,208.85,0.98,SUCCESS,2.000000,timeout-sim,planned,0.490000,-1.020000
8199,abcaap,les-04,46,turtlebot4,navigation,navto_lab,208.85,1250.20,1041.35,None,133.533333,timeout-sim,planned,7.798427,907.816667

failure 40 - les-04.66)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
691,acbacp,les-04,66,turtlebot2,navigation,navto_room,13.58,109.90,96.32,SUCCESS,76.666667,timeout-sim,planned,1.256348,19.653333
3970,acbacp,les-04,66,turtlebot2,approach_person,approach_nurse,109.90,110.30,0.40,SUCCESS,2.000000,timeout-sim,planned,0.200000,-1.600000
4033,acbacp,les-04,66,turtlebot2,authenticate_person,authenticate_nurse,110.30,110.78,0.48,SUCCESS,2.000000,timeout-sim,planned,0.240000,-1.520000
4117,acbacp,les-04,66,turtlebot2,operate_drawer,open_drawer_for_nurse,110.78,111.68,0.90,SUCCESS,2.000000,timeout-sim,planned,0.450000,-1.100000
4261,acbacp,les-04,66,turtlebot2,send_message,notify_nurse_of_open_drawer_for_nurse_completed,111.68,114.73,3.05,SUCCESS,2.000000,timeout-sim,planned,1.525000,1.050000
4682,acbacp,les-04,66,turtlebot2,wait_message,wait_nurse_to_complete_deposit,114.75,116.68,1.93,SUCCESS,2.000000,timeout-sim,planned,0.965000,-0.070000
4870,acbacp,les-04,66,turtlebot2,operate_drawer,close_drawer_nurse,116.68,117.57,0.89,SUCCESS,2.000000,timeout-sim,planned,0.445000,-1.110000
4940,acbacp,les-04,66,turtlebot2,navigation,navto_lab,117.57,1259.22,1141.65,None,50.000000,timeout-sim,planned,22.833000,1091.650000

failure 41 - les-04.67)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
13,acbbap,les-04,67,turtlebot3,navigation,navto_room,4.08,96.27,92.19,SUCCESS,44.466667,timeout-sim,planned,2.073238,47.723333
2468,acbbap,les-04,67,turtlebot3,approach_person,approach_nurse,96.27,96.67,0.40,SUCCESS,2.000000,timeout-sim,planned,0.200000,-1.600000
2481,acbbap,les-04,67,turtlebot3,authenticate_person,authenticate_nurse,96.67,97.70,1.03,SUCCESS,2.000000,timeout-sim,planned,0.515000,-0.970000
2513,acbbap,les-04,67,turtlebot3,operate_drawer,open_drawer_for_nurse,97.70,98.60,0.90,SUCCESS,2.000000,timeout-sim,planned,0.450000,-1.100000
2542,acbbap,les-04,67,turtlebot3,send_message,notify_nurse_of_open_drawer_for_nurse_completed,98.62,101.78,3.16,SUCCESS,2.000000,timeout-sim,planned,1.580000,1.160000
2744,acbbap,les-04,67,turtlebot3,wait_message,wait_nurse_to_complete_deposit,101.80,103.52,1.72,SUCCESS,2.000000,timeout-sim,planned,0.860000,-0.280000
2945,acbbap,les-04,67,turtlebot3,operate_drawer,close_drawer_nurse,103.52,104.38,0.86,SUCCESS,2.000000,timeout-sim,planned,0.430000,-1.140000
3060,acbbap,les-04,67,turtlebot3,navigation,navto_lab,104.38,1267.23,1162.85,None,133.533333,timeout-sim,planned,8.708313,1029.316667

failure 42 - les-04.71)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
363,acbcbp,les-04,71,turtlebot6,navigation,navto_room,11.07,99.62,88.55,SUCCESS,44.466667,timeout-sim,planned,1.991379,44.083333
2576,acbcbp,les-04,71,turtlebot6,approach_person,approach_nurse,99.62,99.98,0.36,SUCCESS,2.000000,timeout-sim,planned,0.180000,-1.640000
2600,acbcbp,les-04,71,turtlebot6,authenticate_person,authenticate_nurse,100.10,1261.19,1161.09,None,2.000000,timeout-sim,planned,580.545000,1159.090000

failure 43 - les-04.73)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
643,accaap,les-04,73,turtlebot4,navigation,navto_room,13.28,215.08,201.80,SUCCESS,137.066667,timeout-sim,planned,1.472276,64.733333
8642,accaap,les-04,73,turtlebot4,approach_person,approach_nurse,215.08,215.42,0.34,SUCCESS,2.000000,timeout-sim,planned,0.170000,-1.660000
8666,accaap,les-04,73,turtlebot4,authenticate_person,authenticate_nurse,215.43,216.18,0.75,SUCCESS,2.000000,timeout-sim,planned,0.375000,-1.250000
8713,accaap,les-04,73,turtlebot4,operate_drawer,open_drawer_for_nurse,216.18,217.05,0.87,SUCCESS,2.000000,timeout-sim,planned,0.435000,-1.130000
8761,accaap,les-04,73,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,217.05,220.17,3.12,SUCCESS,2.000000,timeout-sim,planned,1.560000,1.120000
8904,accaap,les-04,73,turtlebot4,wait_message,wait_nurse_to_complete_deposit,220.17,221.98,1.81,SUCCESS,2.000000,timeout-sim,planned,0.905000,-0.190000
8970,accaap,les-04,73,turtlebot4,operate_drawer,close_drawer_nurse,221.98,222.88,0.90,SUCCESS,2.000000,timeout-sim,planned,0.450000,-1.100000
9007,accaap,les-04,73,turtlebot4,navigation,navto_lab,222.88,1335.29,1112.41,None,133.533333,timeout-sim,planned,8.330579,978.876667

failure 44 - les-04.80)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
315,acccbp,les-04,80,turtlebot6,navigation,navto_room,10.60,99.15,88.55,SUCCESS,44.466667,timeout-sim,planned,1.991379,44.083333
2558,acccbp,les-04,80,turtlebot6,approach_person,approach_nurse,99.15,99.52,0.37,SUCCESS,2.000000,timeout-sim,planned,0.185000,-1.630000
2579,acccbp,les-04,80,turtlebot6,authenticate_person,authenticate_nurse,99.67,1267.21,1167.54,None,2.000000,timeout-sim,planned,583.770000,1165.540000

failure 45 - les-05.19)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
1161,aacaap,les-05,19,turtlebot4,navigation,navto_room,20.00,224.13,204.13,SUCCESS,137.066667,low-battery,planned,1.489275,67.063333
9044,aacaap,les-05,19,turtlebot4,approach_person,approach_nurse,224.15,224.55,0.40,SUCCESS,2.000000,low-battery,planned,0.200000,-1.600000
9059,aacaap,les-05,19,turtlebot4,authenticate_person,authenticate_nurse,224.55,225.22,0.67,SUCCESS,2.000000,low-battery,planned,0.335000,-1.330000
9076,aacaap,les-05,19,turtlebot4,operate_drawer,open_drawer_for_nurse,225.22,226.13,0.91,SUCCESS,2.000000,low-battery,planned,0.455000,-1.090000
9101,aacaap,les-05,19,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,226.13,229.33,3.20,SUCCESS,2.000000,low-battery,planned,1.600000,1.200000
9180,aacaap,les-05,19,turtlebot4,wait_message,wait_nurse_to_complete_deposit,229.35,231.05,1.70,SUCCESS,2.000000,low-battery,planned,0.850000,-0.300000
9213,aacaap,les-05,19,turtlebot4,operate_drawer,close_drawer_nurse,231.05,231.98,0.93,SUCCESS,2.000000,low-battery,planned,0.465000,-1.070000
9232,aacaap,les-05,19,turtlebot4,navigation,navto_lab,231.98,613.58,381.60,None,133.533333,low-battery,planned,2.857713,248.066667

failure 46 - les-05.22)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
673,aacbap,les-05,22,turtlebot4,navigation,navto_room,13.43,203.12,189.69,SUCCESS,137.066667,low-battery,planned,1.383925,52.623333
7627,aacbap,les-05,22,turtlebot4,approach_person,approach_nurse,203.13,203.75,0.62,SUCCESS,2.000000,low-battery,planned,0.310000,-1.380000
7702,aacbap,les-05,22,turtlebot4,authenticate_person,authenticate_nurse,203.75,204.42,0.67,SUCCESS,2.000000,low-battery,planned,0.335000,-1.330000
7768,aacbap,les-05,22,turtlebot4,operate_drawer,open_drawer_for_nurse,204.43,205.35,0.92,SUCCESS,2.000000,low-battery,planned,0.460000,-1.080000
7847,aacbap,les-05,22,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,205.37,208.83,3.46,SUCCESS,2.000000,low-battery,planned,1.730000,1.460000
8198,aacbap,les-05,22,turtlebot4,wait_message,wait_nurse_to_complete_deposit,208.85,209.62,0.77,SUCCESS,2.000000,low-battery,planned,0.385000,-1.230000
8277,aacbap,les-05,22,turtlebot4,operate_drawer,close_drawer_nurse,209.62,210.60,0.98,SUCCESS,2.000000,low-battery,planned,0.490000,-1.020000
8361,aacbap,les-05,22,turtlebot4,navigation,navto_lab,210.60,443.42,232.82,None,133.533333,low-battery,planned,1.743535,99.286667

failure 47 - les-05.25)

Empty DataFrame
Columns: [code, exec_group, scenario_id, robot, skill, label, start_time, end_time, expent_time, end_state, planned_time, trial_end_state, treatment, rel_delay, abs_delay]
Index: []

failure 48 - les-05.37)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
45,abbaap,les-05,37,turtlebot4,navigation,navto_room,6.88,211.27,204.39,SUCCESS,137.066667,timeout-sim,planned,1.491172,67.323333
8409,abbaap,les-05,37,turtlebot4,approach_person,approach_nurse,211.28,211.67,0.39,SUCCESS,2.000000,timeout-sim,planned,0.195000,-1.610000
8436,abbaap,les-05,37,turtlebot4,authenticate_person,authenticate_nurse,211.67,212.17,0.50,SUCCESS,2.000000,timeout-sim,planned,0.250000,-1.500000
8459,abbaap,les-05,37,turtlebot4,operate_drawer,open_drawer_for_nurse,212.17,213.08,0.91,SUCCESS,2.000000,timeout-sim,planned,0.455000,-1.090000
8517,abbaap,les-05,37,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,213.08,216.28,3.20,SUCCESS,2.000000,timeout-sim,planned,1.600000,1.200000
8721,abbaap,les-05,37,turtlebot4,wait_message,wait_nurse_to_complete_deposit,216.28,218.10,1.82,SUCCESS,2.000000,timeout-sim,planned,0.910000,-0.180000
8821,abbaap,les-05,37,turtlebot4,operate_drawer,close_drawer_nurse,218.10,219.03,0.93,SUCCESS,2.000000,timeout-sim,planned,0.465000,-1.070000
8856,abbaap,les-05,37,turtlebot4,navigation,navto_lab,219.05,1320.26,1101.21,None,133.533333,timeout-sim,planned,8.246705,967.676667

failure 49 - les-05.46)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
582,abcaap,les-05,46,turtlebot4,navigation,navto_room,12.82,206.35,193.53,SUCCESS,137.066667,timeout-sim,planned,1.411941,56.463333
7944,abcaap,les-05,46,turtlebot4,approach_person,approach_nurse,206.35,206.68,0.33,SUCCESS,2.000000,timeout-sim,planned,0.165000,-1.670000
7983,abcaap,les-05,46,turtlebot4,authenticate_person,authenticate_nurse,206.68,207.23,0.55,SUCCESS,2.000000,timeout-sim,planned,0.275000,-1.450000
8042,abcaap,les-05,46,turtlebot4,operate_drawer,open_drawer_for_nurse,207.23,208.10,0.87,SUCCESS,2.000000,timeout-sim,planned,0.435000,-1.130000
8120,abcaap,les-05,46,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,208.10,211.25,3.15,SUCCESS,2.000000,timeout-sim,planned,1.575000,1.150000
8408,abcaap,les-05,46,turtlebot4,wait_message,wait_nurse_to_complete_deposit,211.25,213.08,1.83,SUCCESS,2.000000,timeout-sim,planned,0.915000,-0.170000
8518,abcaap,les-05,46,turtlebot4,operate_drawer,close_drawer_nurse,213.08,213.93,0.85,SUCCESS,2.000000,timeout-sim,planned,0.425000,-1.150000
8571,abcaap,les-05,46,turtlebot4,navigation,navto_lab,213.93,1275.24,1061.31,None,133.533333,timeout-sim,planned,7.947903,927.776667

failure 50 - les-05.49)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
777,abcbap,les-05,49,turtlebot3,navigation,navto_room,14.27,109.23,94.96,SUCCESS,44.466667,low-battery,planned,2.135532,50.493333
3860,abcbap,les-05,49,turtlebot3,approach_person,approach_nurse,109.23,109.67,0.44,SUCCESS,2.000000,low-battery,planned,0.220000,-1.560000
3945,abcbap,les-05,49,turtlebot3,authenticate_person,authenticate_nurse,109.75,110.48,0.73,SUCCESS,2.000000,low-battery,planned,0.365000,-1.270000
4069,abcbap,les-05,49,turtlebot3,operate_drawer,open_drawer_for_nurse,110.50,111.47,0.97,SUCCESS,2.000000,low-battery,planned,0.485000,-1.030000
4222,abcbap,les-05,49,turtlebot3,send_message,notify_nurse_of_open_drawer_for_nurse_completed,111.47,114.90,3.43,SUCCESS,2.000000,low-battery,planned,1.715000,1.430000
4693,abcbap,les-05,49,turtlebot3,wait_message,wait_nurse_to_complete_deposit,114.90,115.73,0.83,SUCCESS,2.000000,low-battery,planned,0.415000,-1.170000
4781,abcbap,les-05,49,turtlebot3,operate_drawer,close_drawer_nurse,115.73,116.77,1.04,SUCCESS,2.000000,low-battery,planned,0.520000,-0.960000
4875,abcbap,les-05,49,turtlebot3,navigation,navto_lab,116.77,1064.02,947.25,None,133.533333,low-battery,planned,7.093734,813.716667

failure 51 - les-05.52)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
510,abccap,les-05,52,turtlebot3,navigation,navto_room,12.35,105.43,93.08,SUCCESS,44.466667,timeout-sim,planned,2.093253,48.613333
3208,abccap,les-05,52,turtlebot3,approach_person,approach_nurse,105.43,106.10,0.67,SUCCESS,2.000000,timeout-sim,planned,0.335000,-1.330000
3325,abccap,les-05,52,turtlebot3,authenticate_person,authenticate_nurse,106.12,106.47,0.35,SUCCESS,2.000000,timeout-sim,planned,0.175000,-1.650000
3380,abccap,les-05,52,turtlebot3,operate_drawer,open_drawer_for_nurse,106.47,107.37,0.90,SUCCESS,2.000000,timeout-sim,planned,0.450000,-1.100000
3533,abccap,les-05,52,turtlebot3,send_message,notify_nurse_of_open_drawer_for_nurse_completed,107.38,110.58,3.20,SUCCESS,2.000000,timeout-sim,planned,1.600000,1.200000
4085,abccap,les-05,52,turtlebot3,wait_message,wait_nurse_to_complete_deposit,110.58,1241.18,1130.60,None,2.000000,timeout-sim,planned,565.300000,1128.600000

failure 52 - les-05.65)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
839,acbabp,les-05,65,turtlebot4,navigation,navto_room,14.93,171.45,156.52,SUCCESS,117.333333,low-battery,planned,1.333977,39.186667
6142,acbabp,les-05,65,turtlebot4,approach_person,approach_nurse,171.47,171.83,0.36,SUCCESS,2.000000,low-battery,planned,0.180000,-1.640000
6173,acbabp,les-05,65,turtlebot4,authenticate_person,authenticate_nurse,171.83,172.52,0.69,SUCCESS,2.000000,low-battery,planned,0.345000,-1.310000
6229,acbabp,les-05,65,turtlebot4,operate_drawer,open_drawer_for_nurse,172.52,173.45,0.93,SUCCESS,2.000000,low-battery,planned,0.465000,-1.070000
6282,acbabp,les-05,65,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,173.45,176.53,3.08,SUCCESS,2.000000,low-battery,planned,1.540000,1.080000
6511,acbabp,les-05,65,turtlebot4,wait_message,wait_nurse_to_complete_deposit,176.55,178.37,1.82,SUCCESS,2.000000,low-battery,planned,0.910000,-0.180000
6636,acbabp,les-05,65,turtlebot4,operate_drawer,close_drawer_nurse,178.37,179.27,0.90,SUCCESS,2.000000,low-battery,planned,0.450000,-1.100000
6690,acbabp,les-05,65,turtlebot4,navigation,navto_lab,179.27,274.23,94.96,SUCCESS,136.666667,low-battery,planned,0.694829,-41.706667
10321,acbabp,les-05,65,turtlebot4,approach_robot,approach_arm,274.23,274.45,0.22,SUCCESS,2.000000,low-battery,planned,0.110000,-1.780000
10324,acbabp,les-05,65,turtlebot4,operate_drawer,open_drawer_lab,274.47,275.38,0.91,SUCCESS,2.000000,low-battery,planned,0.455000,-1.090000
10340,acbabp,les-05,65,turtlebot4,send_message,notify_lab_arm_of_open_drawer_lab_completed,275.40,278.57,3.17,SUCCESS,2.000000,low-battery,planned,1.585000,1.170000
10384,acbabp,les-05,65,turtlebot4,wait_message,wait_lab_arm_to_complete_pick_up_sample,278.57,1023.97,745.40,None,2.000000,low-battery,planned,372.700000,743.400000

failure 53 - les-06.04)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
1224,aaabap,les-06,04,turtlebot6,navigation,navto_room,24.03,676.67,652.64,SUCCESS,148.466667,low-battery,planned,4.395869,504.173333
11668,aaabap,les-06,04,turtlebot6,approach_person,approach_nurse,676.67,677.08,0.41,SUCCESS,2.000000,low-battery,planned,0.205000,-1.590000
11669,aaabap,les-06,04,turtlebot6,authenticate_person,authenticate_nurse,677.08,678.05,0.97,SUCCESS,2.000000,low-battery,planned,0.485000,-1.030000
11670,aaabap,les-06,04,turtlebot6,operate_drawer,open_drawer_for_nurse,678.05,678.93,0.88,SUCCESS,2.000000,low-battery,planned,0.440000,-1.120000
11671,aaabap,les-06,04,turtlebot6,send_message,notify_nurse_of_open_drawer_for_nurse_completed,678.93,682.03,3.10,SUCCESS,2.000000,low-battery,planned,1.550000,1.100000
11676,aaabap,les-06,04,turtlebot6,wait_message,wait_nurse_to_complete_deposit,682.03,683.87,1.84,SUCCESS,2.000000,low-battery,planned,0.920000,-0.160000
11681,aaabap,les-06,04,turtlebot6,operate_drawer,close_drawer_nurse,683.87,684.77,0.90,SUCCESS,2.000000,low-battery,planned,0.450000,-1.100000
11683,aaabap,les-06,04,turtlebot6,navigation,navto_lab,684.77,1045.00,360.23,None,133.533333,low-battery,planned,2.697678,226.696667

failure 54 - les-06.08)

Empty DataFrame
Columns: [code, exec_group, scenario_id, robot, skill, label, start_time, end_time, expent_time, end_state, planned_time, trial_end_state, treatment, rel_delay, abs_delay]
Index: []

failure 55 - les-06.09)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
426,aaaccp,les-06,09,turtlebot6,navigation,navto_room,11.78,74.08,62.30,SUCCESS,35.133333,low-battery,planned,1.773245,27.166667
1640,aaaccp,les-06,09,turtlebot6,approach_person,approach_nurse,74.10,74.83,0.73,SUCCESS,2.000000,low-battery,planned,0.365000,-1.270000
1699,aaaccp,les-06,09,turtlebot6,authenticate_person,authenticate_nurse,74.83,75.50,0.67,SUCCESS,2.000000,low-battery,planned,0.335000,-1.330000
1767,aaaccp,les-06,09,turtlebot6,operate_drawer,open_drawer_for_nurse,75.50,76.40,0.90,SUCCESS,2.000000,low-battery,planned,0.450000,-1.100000
1855,aaaccp,les-06,09,turtlebot6,send_message,notify_nurse_of_open_drawer_for_nurse_completed,76.40,79.58,3.18,SUCCESS,2.000000,low-battery,planned,1.590000,1.180000
2078,aaaccp,les-06,09,turtlebot6,wait_message,wait_nurse_to_complete_deposit,79.58,1011.97,932.39,None,2.000000,low-battery,planned,466.195000,930.390000

failure 56 - les-06.12)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
245,aabacp,les-06,12,turtlebot2,navigation,navto_room,9.8,1218.14,1208.34,None,76.666667,timeout-sim,planned,15.760957,1131.673333

failure 57 - les-06.14)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
653,aabbbp,les-06,14,turtlebot6,navigation,navto_room,13.32,101.67,88.35,SUCCESS,44.466667,timeout-sim,planned,1.986882,43.883333
2726,aabbbp,les-06,14,turtlebot6,approach_person,approach_nurse,101.67,102.35,0.68,SUCCESS,2.000000,timeout-sim,planned,0.340000,-1.320000
2804,aabbbp,les-06,14,turtlebot6,authenticate_person,authenticate_nurse,102.42,102.80,0.38,SUCCESS,2.000000,timeout-sim,planned,0.190000,-1.620000
2854,aabbbp,les-06,14,turtlebot6,operate_drawer,open_drawer_for_nurse,102.80,103.68,0.88,SUCCESS,2.000000,timeout-sim,planned,0.440000,-1.120000
2969,aabbbp,les-06,14,turtlebot6,send_message,notify_nurse_of_open_drawer_for_nurse_completed,103.68,106.82,3.14,SUCCESS,2.000000,timeout-sim,planned,1.570000,1.140000
3430,aabbbp,les-06,14,turtlebot6,wait_message,wait_nurse_to_complete_deposit,106.82,1263.20,1156.38,None,2.000000,timeout-sim,planned,578.190000,1154.380000

failure 58 - les-06.19)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
337,aacaap,les-06,19,turtlebot4,navigation,navto_room,10.78,197.05,186.27,SUCCESS,137.066667,low-battery,planned,1.358974,49.203333
7234,aacaap,les-06,19,turtlebot4,approach_person,approach_nurse,197.07,197.43,0.36,SUCCESS,2.000000,low-battery,planned,0.180000,-1.640000
7262,aacaap,les-06,19,turtlebot4,authenticate_person,authenticate_nurse,197.45,198.20,0.75,SUCCESS,2.000000,low-battery,planned,0.375000,-1.250000
7315,aacaap,les-06,19,turtlebot4,operate_drawer,open_drawer_for_nurse,198.22,199.05,0.83,SUCCESS,2.000000,low-battery,planned,0.415000,-1.170000
7369,aacaap,les-06,19,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,199.05,202.22,3.17,SUCCESS,2.000000,low-battery,planned,1.585000,1.170000
7544,aacaap,les-06,19,turtlebot4,wait_message,wait_nurse_to_complete_deposit,202.23,203.98,1.75,SUCCESS,2.000000,low-battery,planned,0.875000,-0.250000
7719,aacaap,les-06,19,turtlebot4,operate_drawer,close_drawer_nurse,203.98,204.90,0.92,SUCCESS,2.000000,low-battery,planned,0.460000,-1.080000
7814,aacaap,les-06,19,turtlebot4,navigation,navto_lab,204.90,623.60,418.70,None,133.533333,low-battery,planned,3.135547,285.166667

failure 59 - les-06.22)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
544,aacbap,les-06,22,turtlebot4,navigation,navto_room,12.58,201.57,188.99,SUCCESS,137.066667,low-battery,planned,1.378818,51.923333
7496,aacbap,les-06,22,turtlebot4,approach_person,approach_nurse,201.57,202.02,0.45,SUCCESS,2.000000,low-battery,planned,0.225000,-1.550000
7530,aacbap,les-06,22,turtlebot4,authenticate_person,authenticate_nurse,202.02,202.70,0.68,SUCCESS,2.000000,low-battery,planned,0.340000,-1.320000
7590,aacbap,les-06,22,turtlebot4,operate_drawer,open_drawer_for_nurse,202.72,203.70,0.98,SUCCESS,2.000000,low-battery,planned,0.490000,-1.020000
7694,aacbap,les-06,22,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,203.70,207.02,3.32,SUCCESS,2.000000,low-battery,planned,1.660000,1.320000
8017,aacbap,les-06,22,turtlebot4,wait_message,wait_nurse_to_complete_deposit,207.03,207.98,0.95,SUCCESS,2.000000,low-battery,planned,0.475000,-1.050000
8107,aacbap,les-06,22,turtlebot4,operate_drawer,close_drawer_nurse,208.00,208.88,0.88,SUCCESS,2.000000,low-battery,planned,0.440000,-1.120000
8202,aacbap,les-06,22,turtlebot4,navigation,navto_lab,208.88,448.44,239.56,None,133.533333,low-battery,planned,1.794009,106.026667

failure 60 - les-06.25)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
1198,aaccap,les-06,25,turtlebot4,navigation,navto_room,21.18,235.37,214.19,SUCCESS,137.066667,low-battery,planned,1.562670,77.123333
9313,aaccap,les-06,25,turtlebot4,approach_person,approach_nurse,235.37,236.25,0.88,SUCCESS,2.000000,low-battery,planned,0.440000,-1.120000
9340,aaccap,les-06,25,turtlebot4,authenticate_person,authenticate_nurse,236.27,236.60,0.33,SUCCESS,2.000000,low-battery,planned,0.165000,-1.670000
9353,aaccap,les-06,25,turtlebot4,operate_drawer,open_drawer_for_nurse,236.60,237.52,0.92,SUCCESS,2.000000,low-battery,planned,0.460000,-1.080000
9384,aaccap,les-06,25,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,237.52,240.67,3.15,SUCCESS,2.000000,low-battery,planned,1.575000,1.150000
9484,aaccap,les-06,25,turtlebot4,wait_message,wait_nurse_to_complete_deposit,240.68,242.48,1.80,SUCCESS,2.000000,low-battery,planned,0.900000,-0.200000
9547,aaccap,les-06,25,turtlebot4,operate_drawer,close_drawer_nurse,242.48,243.38,0.90,SUCCESS,2.000000,low-battery,planned,0.450000,-1.100000
9580,aaccap,les-06,25,turtlebot4,navigation,navto_lab,243.38,624.60,381.22,None,133.533333,low-battery,planned,2.854868,247.686667

failure 61 - les-06.46)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
239,abcaap,les-06,46,turtlebot4,navigation,navto_room,9.78,196.23,186.45,SUCCESS,137.066667,timeout-sim,planned,1.360287,49.383333
7192,abcaap,les-06,46,turtlebot4,approach_person,approach_nurse,196.25,197.15,0.90,SUCCESS,2.000000,timeout-sim,planned,0.450000,-1.100000
7242,abcaap,les-06,46,turtlebot4,authenticate_person,authenticate_nurse,197.17,197.48,0.31,SUCCESS,2.000000,timeout-sim,planned,0.155000,-1.690000
7265,abcaap,les-06,46,turtlebot4,operate_drawer,open_drawer_for_nurse,197.48,198.35,0.87,SUCCESS,2.000000,timeout-sim,planned,0.435000,-1.130000
7328,abcaap,les-06,46,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,198.37,201.52,3.15,SUCCESS,2.000000,timeout-sim,planned,1.575000,1.150000
7490,abcaap,les-06,46,turtlebot4,wait_message,wait_nurse_to_complete_deposit,201.52,203.28,1.76,SUCCESS,2.000000,timeout-sim,planned,0.880000,-0.240000
7648,abcaap,les-06,46,turtlebot4,operate_drawer,close_drawer_nurse,203.28,204.18,0.90,SUCCESS,2.000000,timeout-sim,planned,0.450000,-1.100000
7744,abcaap,les-06,46,turtlebot4,navigation,navto_lab,204.18,1309.28,1105.10,None,133.533333,timeout-sim,planned,8.275836,971.566667

failure 62 - les-06.47)

Empty DataFrame
Columns: [code, exec_group, scenario_id, robot, skill, label, start_time, end_time, expent_time, end_state, planned_time, trial_end_state, treatment, rel_delay, abs_delay]
Index: []

failure 63 - les-06.49)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
1023,abcbap,les-06,49,turtlebot3,navigation,navto_room,17.12,110.48,93.36,SUCCESS,44.466667,timeout-sim,planned,2.099550,48.893333
4064,abcbap,les-06,49,turtlebot3,approach_person,approach_nurse,110.48,111.08,0.60,SUCCESS,2.000000,timeout-sim,planned,0.300000,-1.400000
4166,abcbap,les-06,49,turtlebot3,authenticate_person,authenticate_nurse,111.10,111.48,0.38,SUCCESS,2.000000,timeout-sim,planned,0.190000,-1.620000
4234,abcbap,les-06,49,turtlebot3,operate_drawer,open_drawer_for_nurse,111.50,112.38,0.88,SUCCESS,2.000000,timeout-sim,planned,0.440000,-1.120000
4359,abcbap,les-06,49,turtlebot3,send_message,notify_nurse_of_open_drawer_for_nurse_completed,112.38,115.50,3.12,SUCCESS,2.000000,timeout-sim,planned,1.560000,1.120000
4758,abcbap,les-06,49,turtlebot3,wait_message,wait_nurse_to_complete_deposit,115.50,117.32,1.82,SUCCESS,2.000000,timeout-sim,planned,0.910000,-0.180000
4925,abcbap,les-06,49,turtlebot3,operate_drawer,close_drawer_nurse,117.33,118.22,0.89,SUCCESS,2.000000,timeout-sim,planned,0.445000,-1.110000
4985,abcbap,les-06,49,turtlebot3,navigation,navto_lab,118.22,1237.18,1118.96,None,133.533333,timeout-sim,planned,8.379631,985.426667

failure 64 - les-06.50)

Empty DataFrame
Columns: [code, exec_group, scenario_id, robot, skill, label, start_time, end_time, expent_time, end_state, planned_time, trial_end_state, treatment, rel_delay, abs_delay]
Index: []

failure 65 - les-06.55)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
184,acaaap,les-06,55,turtlebot4,navigation,navto_room,9.12,196.73,187.61,SUCCESS,137.066667,low-battery,planned,1.368750,50.543333
7215,acaaap,les-06,55,turtlebot4,approach_person,approach_nurse,196.73,197.33,0.60,SUCCESS,2.000000,low-battery,planned,0.300000,-1.400000
7250,acaaap,les-06,55,turtlebot4,authenticate_person,authenticate_nurse,197.33,197.77,0.44,SUCCESS,2.000000,low-battery,planned,0.220000,-1.560000
7277,acaaap,les-06,55,turtlebot4,operate_drawer,open_drawer_for_nurse,197.77,198.58,0.81,SUCCESS,2.000000,low-battery,planned,0.405000,-1.190000
7344,acaaap,les-06,55,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,198.60,201.62,3.02,SUCCESS,2.000000,low-battery,planned,1.510000,1.020000
7501,acaaap,les-06,55,turtlebot4,wait_message,wait_nurse_to_complete_deposit,201.62,203.52,1.90,SUCCESS,2.000000,low-battery,planned,0.950000,-0.100000
7676,acaaap,les-06,55,turtlebot4,operate_drawer,close_drawer_nurse,203.52,204.40,0.88,SUCCESS,2.000000,low-battery,planned,0.440000,-1.120000
7763,acaaap,les-06,55,turtlebot4,navigation,navto_lab,204.40,1111.10,906.70,None,133.533333,low-battery,planned,6.790065,773.166667

failure 66 - les-06.79)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
142,acccap,les-06,79,turtlebot3,navigation,navto_room,8.58,103.20,94.62,SUCCESS,44.466667,timeout-sim,planned,2.127886,50.153333
2903,acccap,les-06,79,turtlebot3,approach_person,approach_nurse,103.20,103.57,0.37,SUCCESS,2.000000,timeout-sim,planned,0.185000,-1.630000
2947,acccap,les-06,79,turtlebot3,authenticate_person,authenticate_nurse,103.57,104.38,0.81,SUCCESS,2.000000,timeout-sim,planned,0.405000,-1.190000
3059,acccap,les-06,79,turtlebot3,operate_drawer,open_drawer_for_nurse,104.38,105.27,0.89,SUCCESS,2.000000,timeout-sim,planned,0.445000,-1.110000
3188,acccap,les-06,79,turtlebot3,send_message,notify_nurse_of_open_drawer_for_nurse_completed,105.27,108.32,3.05,SUCCESS,2.000000,timeout-sim,planned,1.525000,1.050000
3692,acccap,les-06,79,turtlebot3,wait_message,wait_nurse_to_complete_deposit,108.32,110.18,1.86,SUCCESS,2.000000,timeout-sim,planned,0.930000,-0.140000
4008,acccap,les-06,79,turtlebot3,operate_drawer,close_drawer_nurse,110.18,111.02,0.84,SUCCESS,2.000000,timeout-sim,planned,0.420000,-1.160000
4149,acccap,les-06,79,turtlebot3,navigation,navto_lab,111.02,1242.19,1131.17,None,133.533333,timeout-sim,planned,8.471068,997.636667

failure 67 - les-06.81)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
134,accccp,les-06,81,turtlebot6,navigation,navto_room,8.52,66.72,58.20,SUCCESS,35.133333,timeout-sim,planned,1.656546,23.066667
1271,accccp,les-06,81,turtlebot6,approach_person,approach_nurse,66.72,67.12,0.40,SUCCESS,2.000000,timeout-sim,planned,0.200000,-1.600000
1276,accccp,les-06,81,turtlebot6,authenticate_person,authenticate_nurse,67.12,67.92,0.80,SUCCESS,2.000000,timeout-sim,planned,0.400000,-1.200000
1293,accccp,les-06,81,turtlebot6,operate_drawer,open_drawer_for_nurse,67.92,68.78,0.86,SUCCESS,2.000000,timeout-sim,planned,0.430000,-1.140000
1325,accccp,les-06,81,turtlebot6,send_message,notify_nurse_of_open_drawer_for_nurse_completed,68.78,71.93,3.15,SUCCESS,2.000000,timeout-sim,planned,1.575000,1.150000
1488,accccp,les-06,81,turtlebot6,wait_message,wait_nurse_to_complete_deposit,71.93,1246.18,1174.25,None,2.000000,timeout-sim,planned,587.125000,1172.250000

failure 68 - les-07.04)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
204,aaabap,les-07,04,turtlebot6,navigation,navto_room,9.38,1034.98,1025.6,None,148.466667,low-battery,planned,6.907948,877.133333

failure 69 - les-07.19)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
1187,aacaap,les-07,19,turtlebot4,navigation,navto_room,20.78,223.58,202.80,SUCCESS,137.066667,low-battery,planned,1.479572,65.733333
9028,aacaap,les-07,19,turtlebot4,approach_person,approach_nurse,223.60,224.47,0.87,SUCCESS,2.000000,low-battery,planned,0.435000,-1.130000
9056,aacaap,les-07,19,turtlebot4,authenticate_person,authenticate_nurse,224.48,224.87,0.39,SUCCESS,2.000000,low-battery,planned,0.195000,-1.610000
9066,aacaap,les-07,19,turtlebot4,operate_drawer,open_drawer_for_nurse,224.87,225.82,0.95,SUCCESS,2.000000,low-battery,planned,0.475000,-1.050000
9094,aacaap,les-07,19,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,225.83,229.08,3.25,SUCCESS,2.000000,low-battery,planned,1.625000,1.250000
9172,aacaap,les-07,19,turtlebot4,wait_message,wait_nurse_to_complete_deposit,229.10,230.73,1.63,SUCCESS,2.000000,low-battery,planned,0.815000,-0.370000
9205,aacaap,les-07,19,turtlebot4,operate_drawer,close_drawer_nurse,230.75,231.67,0.92,SUCCESS,2.000000,low-battery,planned,0.460000,-1.080000
9225,aacaap,les-07,19,turtlebot4,navigation,navto_lab,231.67,604.58,372.91,None,133.533333,low-battery,planned,2.792636,239.376667

failure 70 - les-07.22)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
515,aacbap,les-07,22,turtlebot4,navigation,navto_room,12.37,208.53,196.16,SUCCESS,137.066667,low-battery,planned,1.431128,59.093333
8165,aacbap,les-07,22,turtlebot4,approach_person,approach_nurse,208.53,209.42,0.89,SUCCESS,2.000000,low-battery,planned,0.445000,-1.110000
8254,aacbap,les-07,22,turtlebot4,authenticate_person,authenticate_nurse,209.42,209.88,0.46,SUCCESS,2.000000,low-battery,planned,0.230000,-1.540000
8302,aacbap,les-07,22,turtlebot4,operate_drawer,open_drawer_for_nurse,209.88,210.80,0.92,SUCCESS,2.000000,low-battery,planned,0.460000,-1.080000
8374,aacbap,les-07,22,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,210.80,213.88,3.08,SUCCESS,2.000000,low-battery,planned,1.540000,1.080000
8568,aacbap,les-07,22,turtlebot4,wait_message,wait_nurse_to_complete_deposit,213.88,215.63,1.75,SUCCESS,2.000000,low-battery,planned,0.875000,-0.250000
8680,aacbap,les-07,22,turtlebot4,operate_drawer,close_drawer_nurse,215.63,216.52,0.89,SUCCESS,2.000000,low-battery,planned,0.445000,-1.110000
8734,aacbap,les-07,22,turtlebot4,navigation,navto_lab,216.52,633.61,417.09,None,133.533333,low-battery,planned,3.123490,283.556667

failure 71 - les-07.28)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
919,abaaap,les-07,28,turtlebot4,navigation,navto_room,15.55,202.85,187.30,SUCCESS,137.066667,timeout-sim,planned,1.366488,50.233333
7600,abaaap,les-07,28,turtlebot4,approach_person,approach_nurse,202.85,203.48,0.63,SUCCESS,2.000000,timeout-sim,planned,0.315000,-1.370000
7671,abaaap,les-07,28,turtlebot4,authenticate_person,authenticate_nurse,203.48,203.93,0.45,SUCCESS,2.000000,timeout-sim,planned,0.225000,-1.550000
7716,abaaap,les-07,28,turtlebot4,operate_drawer,open_drawer_for_nurse,203.93,204.87,0.94,SUCCESS,2.000000,timeout-sim,planned,0.470000,-1.060000
7810,abaaap,les-07,28,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,204.87,208.07,3.20,SUCCESS,2.000000,timeout-sim,planned,1.600000,1.200000
8118,abaaap,les-07,28,turtlebot4,wait_message,wait_nurse_to_complete_deposit,208.07,209.87,1.80,SUCCESS,2.000000,timeout-sim,planned,0.900000,-0.200000
8297,abaaap,les-07,28,turtlebot4,operate_drawer,close_drawer_nurse,209.87,210.75,0.88,SUCCESS,2.000000,timeout-sim,planned,0.440000,-1.120000
8372,abaaap,les-07,28,turtlebot4,navigation,navto_lab,210.77,440.87,230.10,SUCCESS,133.533333,timeout-sim,planned,1.723165,96.566667
11334,abaaap,les-07,28,turtlebot4,approach_robot,approach_arm,440.88,441.08,0.20,SUCCESS,2.000000,timeout-sim,planned,0.100000,-1.800000
11337,abaaap,les-07,28,turtlebot4,operate_drawer,open_drawer_lab,441.08,441.95,0.87,SUCCESS,2.000000,timeout-sim,planned,0.435000,-1.130000
11342,abaaap,les-07,28,turtlebot4,send_message,notify_lab_arm_of_open_drawer_lab_completed,441.95,445.23,3.28,SUCCESS,2.000000,timeout-sim,planned,1.640000,1.280000
11375,abaaap,les-07,28,turtlebot4,wait_message,wait_lab_arm_to_complete_pick_up_sample,445.23,1244.18,798.95,None,2.000000,timeout-sim,planned,399.475000,796.950000

failure 72 - les-07.31)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
267,ababap,les-07,31,turtlebot3,navigation,navto_room,10.10,102.63,92.53,SUCCESS,44.466667,timeout-sim,planned,2.080885,48.063333
2829,ababap,les-07,31,turtlebot3,approach_person,approach_nurse,102.63,103.17,0.54,SUCCESS,2.000000,timeout-sim,planned,0.270000,-1.460000
2899,ababap,les-07,31,turtlebot3,authenticate_person,authenticate_nurse,103.17,103.90,0.73,SUCCESS,2.000000,timeout-sim,planned,0.365000,-1.270000
2994,ababap,les-07,31,turtlebot3,operate_drawer,open_drawer_for_nurse,103.90,104.78,0.88,SUCCESS,2.000000,timeout-sim,planned,0.440000,-1.120000
3126,ababap,les-07,31,turtlebot3,send_message,notify_nurse_of_open_drawer_for_nurse_completed,104.78,107.98,3.20,SUCCESS,2.000000,timeout-sim,planned,1.600000,1.200000
3633,ababap,les-07,31,turtlebot3,wait_message,wait_nurse_to_complete_deposit,107.98,109.68,1.70,SUCCESS,2.000000,timeout-sim,planned,0.850000,-0.300000
3936,ababap,les-07,31,turtlebot3,operate_drawer,close_drawer_nurse,109.68,110.60,0.92,SUCCESS,2.000000,timeout-sim,planned,0.460000,-1.080000
4091,ababap,les-07,31,turtlebot3,navigation,navto_lab,110.60,1233.19,1122.59,None,133.533333,timeout-sim,planned,8.406815,989.056667

failure 73 - les-07.37)

Empty DataFrame
Columns: [code, exec_group, scenario_id, robot, skill, label, start_time, end_time, expent_time, end_state, planned_time, trial_end_state, treatment, rel_delay, abs_delay]
Index: []

failure 74 - les-07.49)

Empty DataFrame
Columns: [code, exec_group, scenario_id, robot, skill, label, start_time, end_time, expent_time, end_state, planned_time, trial_end_state, treatment, rel_delay, abs_delay]
Index: []

failure 75 - les-07.58)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
1182,acabap,les-07,58,turtlebot3,navigation,navto_room,20.60,132.42,111.82,SUCCESS,44.466667,timeout-sim,planned,2.514693,67.353333
5471,acabap,les-07,58,turtlebot3,approach_person,approach_nurse,132.43,133.22,0.79,SUCCESS,2.000000,timeout-sim,planned,0.395000,-1.210000
5485,acabap,les-07,58,turtlebot3,authenticate_person,authenticate_nurse,133.22,133.58,0.36,SUCCESS,2.000000,timeout-sim,planned,0.180000,-1.640000
5499,acabap,les-07,58,turtlebot3,operate_drawer,open_drawer_for_nurse,133.58,134.50,0.92,SUCCESS,2.000000,timeout-sim,planned,0.460000,-1.080000
5519,acabap,les-07,58,turtlebot3,send_message,notify_nurse_of_open_drawer_for_nurse_completed,134.50,137.75,3.25,SUCCESS,2.000000,timeout-sim,planned,1.625000,1.250000
5607,acabap,les-07,58,turtlebot3,wait_message,wait_nurse_to_complete_deposit,137.77,139.67,1.90,SUCCESS,2.000000,timeout-sim,planned,0.950000,-0.100000
5647,acabap,les-07,58,turtlebot3,operate_drawer,close_drawer_nurse,139.67,140.58,0.91,SUCCESS,2.000000,timeout-sim,planned,0.455000,-1.090000
5661,acabap,les-07,58,turtlebot3,navigation,navto_lab,140.58,1213.15,1072.57,None,133.533333,timeout-sim,planned,8.032227,939.036667

failure 76 - les-07.60)

Empty DataFrame
Columns: [code, exec_group, scenario_id, robot, skill, label, start_time, end_time, expent_time, end_state, planned_time, trial_end_state, treatment, rel_delay, abs_delay]
Index: []

failure 77 - les-07.61)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
427,acacap,les-07,61,turtlebot3,navigation,navto_room,11.78,105.77,93.99,SUCCESS,44.466667,timeout-sim,planned,2.113718,49.523333
3260,acacap,les-07,61,turtlebot3,approach_person,approach_nurse,105.77,106.38,0.61,SUCCESS,2.000000,timeout-sim,planned,0.305000,-1.390000
3370,acacap,les-07,61,turtlebot3,authenticate_person,authenticate_nurse,106.38,106.77,0.39,SUCCESS,2.000000,timeout-sim,planned,0.195000,-1.610000
3424,acacap,les-07,61,turtlebot3,operate_drawer,open_drawer_for_nurse,106.77,107.68,0.91,SUCCESS,2.000000,timeout-sim,planned,0.455000,-1.090000
3579,acacap,les-07,61,turtlebot3,send_message,notify_nurse_of_open_drawer_for_nurse_completed,107.68,110.88,3.20,SUCCESS,2.000000,timeout-sim,planned,1.600000,1.200000
4127,acacap,les-07,61,turtlebot3,wait_message,wait_nurse_to_complete_deposit,110.88,112.70,1.82,SUCCESS,2.000000,timeout-sim,planned,0.910000,-0.180000
4410,acacap,les-07,61,turtlebot3,operate_drawer,close_drawer_nurse,112.70,113.55,0.85,SUCCESS,2.000000,timeout-sim,planned,0.425000,-1.150000
4530,acacap,les-07,61,turtlebot3,navigation,navto_lab,113.55,922.02,808.47,SUCCESS,133.533333,timeout-sim,planned,6.054443,674.936667
11690,acacap,les-07,61,turtlebot3,approach_robot,approach_arm,922.03,922.32,0.29,SUCCESS,2.000000,timeout-sim,planned,0.145000,-1.710000
11691,acacap,les-07,61,turtlebot3,operate_drawer,open_drawer_lab,922.32,923.12,0.80,SUCCESS,2.000000,timeout-sim,planned,0.400000,-1.200000
11692,acacap,les-07,61,turtlebot3,send_message,notify_lab_arm_of_open_drawer_lab_completed,923.13,1342.30,419.17,None,2.000000,timeout-sim,planned,209.585000,417.170000

failure 78 - les-07.69)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
757,acbbcp,les-07,69,turtlebot6,navigation,navto_room,14.12,1192.14,1178.02,None,35.133333,timeout-sim,planned,33.529981,1142.886667

failure 79 - les-07.70)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
97,acbcap,les-07,70,turtlebot3,navigation,navto_room,8.12,100.57,92.45,SUCCESS,44.466667,timeout-sim,planned,2.079085,47.983333
2631,acbcap,les-07,70,turtlebot3,approach_person,approach_nurse,100.57,101.48,0.91,SUCCESS,2.000000,timeout-sim,planned,0.455000,-1.090000
2705,acbcap,les-07,70,turtlebot3,authenticate_person,authenticate_nurse,101.48,101.88,0.40,SUCCESS,2.000000,timeout-sim,planned,0.200000,-1.600000
2753,acbcap,les-07,70,turtlebot3,operate_drawer,open_drawer_for_nurse,101.88,102.78,0.90,SUCCESS,2.000000,timeout-sim,planned,0.450000,-1.100000
2852,acbcap,les-07,70,turtlebot3,send_message,notify_nurse_of_open_drawer_for_nurse_completed,102.80,105.88,3.08,SUCCESS,2.000000,timeout-sim,planned,1.540000,1.080000
3288,acbcap,les-07,70,turtlebot3,wait_message,wait_nurse_to_complete_deposit,105.90,107.65,1.75,SUCCESS,2.000000,timeout-sim,planned,0.875000,-0.250000
3575,acbcap,les-07,70,turtlebot3,operate_drawer,close_drawer_nurse,107.67,108.58,0.91,SUCCESS,2.000000,timeout-sim,planned,0.455000,-1.090000
3746,acbcap,les-07,70,turtlebot3,navigation,navto_lab,108.60,1327.27,1218.67,None,133.533333,timeout-sim,planned,9.126335,1085.136667

failure 80 - les-07.73)

Empty DataFrame
Columns: [code, exec_group, scenario_id, robot, skill, label, start_time, end_time, expent_time, end_state, planned_time, trial_end_state, treatment, rel_delay, abs_delay]
Index: []

failure 81 - les-08.12)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
765,aabacp,les-08,12,turtlebot2,navigation,navto_room,14.17,111.08,96.91,SUCCESS,76.666667,timeout-sim,planned,1.264043,20.243333
4167,aabacp,les-08,12,turtlebot2,approach_person,approach_nurse,111.10,111.43,0.33,SUCCESS,2.000000,timeout-sim,planned,0.165000,-1.670000
4220,aabacp,les-08,12,turtlebot2,authenticate_person,authenticate_nurse,111.45,1278.21,1166.76,None,2.000000,timeout-sim,planned,583.380000,1164.760000

failure 82 - les-08.19)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
111,aacaap,les-08,19,turtlebot4,navigation,navto_room,8.25,194.60,186.35,SUCCESS,137.066667,low-battery,planned,1.359557,49.283333
7144,aacaap,les-08,19,turtlebot4,approach_person,approach_nurse,194.60,195.28,0.68,SUCCESS,2.000000,low-battery,planned,0.340000,-1.320000
7159,aacaap,les-08,19,turtlebot4,authenticate_person,authenticate_nurse,195.28,195.70,0.42,SUCCESS,2.000000,low-battery,planned,0.210000,-1.580000
7173,aacaap,les-08,19,turtlebot4,operate_drawer,open_drawer_for_nurse,195.72,196.57,0.85,SUCCESS,2.000000,low-battery,planned,0.425000,-1.150000
7207,aacaap,les-08,19,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,196.57,199.68,3.11,SUCCESS,2.000000,low-battery,planned,1.555000,1.110000
7402,aacaap,les-08,19,turtlebot4,wait_message,wait_nurse_to_complete_deposit,199.68,201.52,1.84,SUCCESS,2.000000,low-battery,planned,0.920000,-0.160000
7491,aacaap,les-08,19,turtlebot4,operate_drawer,close_drawer_nurse,201.52,202.38,0.86,SUCCESS,2.000000,low-battery,planned,0.430000,-1.140000
7560,aacaap,les-08,19,turtlebot4,navigation,navto_lab,202.38,640.62,438.24,None,133.533333,low-battery,planned,3.281877,304.706667

failure 83 - les-08.22)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
157,aacbap,les-08,22,turtlebot4,navigation,navto_room,8.78,196.43,187.65,SUCCESS,137.066667,low-battery,planned,1.369042,50.583333
7201,aacbap,les-08,22,turtlebot4,approach_person,approach_nurse,196.43,196.78,0.35,SUCCESS,2.000000,low-battery,planned,0.175000,-1.650000
7221,aacbap,les-08,22,turtlebot4,authenticate_person,authenticate_nurse,196.78,197.28,0.50,SUCCESS,2.000000,low-battery,planned,0.250000,-1.500000
7246,aacbap,les-08,22,turtlebot4,operate_drawer,open_drawer_for_nurse,197.28,198.17,0.89,SUCCESS,2.000000,low-battery,planned,0.445000,-1.110000
7309,aacbap,les-08,22,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,198.17,201.28,3.11,SUCCESS,2.000000,low-battery,planned,1.555000,1.110000
7472,aacbap,les-08,22,turtlebot4,wait_message,wait_nurse_to_complete_deposit,201.28,203.07,1.79,SUCCESS,2.000000,low-battery,planned,0.895000,-0.210000
7623,aacbap,les-08,22,turtlebot4,operate_drawer,close_drawer_nurse,203.08,203.98,0.90,SUCCESS,2.000000,low-battery,planned,0.450000,-1.100000
7720,aacbap,les-08,22,turtlebot4,navigation,navto_lab,203.98,636.60,432.62,None,133.533333,low-battery,planned,3.239790,299.086667

failure 84 - les-08.25)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
169,aaccap,les-08,25,turtlebot4,navigation,navto_room,8.90,196.58,187.68,SUCCESS,137.066667,low-battery,planned,1.369261,50.613333
7209,aaccap,les-08,25,turtlebot4,approach_person,approach_nurse,196.58,196.97,0.39,SUCCESS,2.000000,low-battery,planned,0.195000,-1.610000
7231,aaccap,les-08,25,turtlebot4,authenticate_person,authenticate_nurse,196.98,197.92,0.94,SUCCESS,2.000000,low-battery,planned,0.470000,-1.060000
7294,aaccap,les-08,25,turtlebot4,operate_drawer,open_drawer_for_nurse,197.93,198.85,0.92,SUCCESS,2.000000,low-battery,planned,0.460000,-1.080000
7360,aaccap,les-08,25,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,198.85,202.02,3.17,SUCCESS,2.000000,low-battery,planned,1.585000,1.170000
7528,aaccap,les-08,25,turtlebot4,wait_message,wait_nurse_to_complete_deposit,202.02,203.75,1.73,SUCCESS,2.000000,low-battery,planned,0.865000,-0.270000
7699,aaccap,les-08,25,turtlebot4,operate_drawer,close_drawer_nurse,203.75,204.63,0.88,SUCCESS,2.000000,low-battery,planned,0.440000,-1.120000
7791,aaccap,les-08,25,turtlebot4,navigation,navto_lab,204.65,630.62,425.97,None,133.533333,low-battery,planned,3.189990,292.436667

failure 85 - les-08.37)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
251,abbaap,les-08,37,turtlebot4,navigation,navto_room,9.85,195.90,186.05,SUCCESS,137.066667,timeout-sim,planned,1.357369,48.983333
7181,abbaap,les-08,37,turtlebot4,approach_person,approach_nurse,195.90,196.27,0.37,SUCCESS,2.000000,timeout-sim,planned,0.185000,-1.630000
7193,abbaap,les-08,37,turtlebot4,authenticate_person,authenticate_nurse,196.27,196.97,0.70,SUCCESS,2.000000,timeout-sim,planned,0.350000,-1.300000
7230,abbaap,les-08,37,turtlebot4,operate_drawer,open_drawer_for_nurse,196.97,197.87,0.90,SUCCESS,2.000000,timeout-sim,planned,0.450000,-1.100000
7290,abbaap,les-08,37,turtlebot4,send_message,notify_nurse_of_open_drawer_for_nurse_completed,197.88,201.00,3.12,SUCCESS,2.000000,timeout-sim,planned,1.560000,1.120000
7456,abbaap,les-08,37,turtlebot4,wait_message,wait_nurse_to_complete_deposit,201.00,202.77,1.77,SUCCESS,2.000000,timeout-sim,planned,0.885000,-0.230000
7592,abbaap,les-08,37,turtlebot4,operate_drawer,close_drawer_nurse,202.77,203.63,0.86,SUCCESS,2.000000,timeout-sim,planned,0.430000,-1.140000
7692,abbaap,les-08,37,turtlebot4,navigation,navto_lab,203.63,1286.24,1082.61,None,133.533333,timeout-sim,planned,8.107414,949.076667

failure 86 - les-08.43)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
270,abbcap,les-08,43,turtlebot3,navigation,navto_room,10.15,103.90,93.75,SUCCESS,44.466667,low-battery,planned,2.108321,49.283333
2995,abbcap,les-08,43,turtlebot3,approach_person,approach_nurse,103.90,104.30,0.40,SUCCESS,2.000000,low-battery,planned,0.200000,-1.600000
3050,abbcap,les-08,43,turtlebot3,authenticate_person,authenticate_nurse,104.32,104.92,0.60,SUCCESS,2.000000,low-battery,planned,0.300000,-1.400000
3144,abbcap,les-08,43,turtlebot3,operate_drawer,open_drawer_for_nurse,104.92,105.85,0.93,SUCCESS,2.000000,low-battery,planned,0.465000,-1.070000
3276,abbcap,les-08,43,turtlebot3,send_message,notify_nurse_of_open_drawer_for_nurse_completed,105.85,108.98,3.13,SUCCESS,2.000000,low-battery,planned,1.565000,1.130000
3822,abbcap,les-08,43,turtlebot3,wait_message,wait_nurse_to_complete_deposit,108.98,110.77,1.79,SUCCESS,2.000000,low-battery,planned,0.895000,-0.210000
4114,abbcap,les-08,43,turtlebot3,operate_drawer,close_drawer_nurse,110.78,111.68,0.90,SUCCESS,2.000000,low-battery,planned,0.450000,-1.100000
4257,abbcap,les-08,43,turtlebot3,navigation,navto_lab,111.68,1002.95,891.27,None,133.533333,low-battery,planned,6.674513,757.736667

failure 87 - les-08.48)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
809,abcacp,les-08,48,turtlebot2,navigation,navto_room,14.53,112.05,97.52,SUCCESS,76.666667,timeout-sim,planned,1.272,20.853333
4319,abcacp,les-08,48,turtlebot2,approach_person,approach_nurse,112.05,112.40,0.35,SUCCESS,2.000000,timeout-sim,planned,0.175,-1.650000
4366,abcacp,les-08,48,turtlebot2,authenticate_person,authenticate_nurse,112.40,1234.16,1121.76,None,2.000000,timeout-sim,planned,560.880,1119.760000

failure 88 - les-08.49)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
450,abcbap,les-08,49,turtlebot3,navigation,navto_room,11.93,113.13,101.20,SUCCESS,44.466667,timeout-sim,planned,2.275862,56.733333
4476,abcbap,les-08,49,turtlebot3,approach_person,approach_nurse,113.15,113.48,0.33,SUCCESS,2.000000,timeout-sim,planned,0.165000,-1.670000
4523,abcbap,les-08,49,turtlebot3,authenticate_person,authenticate_nurse,113.48,114.30,0.82,SUCCESS,2.000000,timeout-sim,planned,0.410000,-1.180000
4624,abcbap,les-08,49,turtlebot3,operate_drawer,open_drawer_for_nurse,114.30,115.18,0.88,SUCCESS,2.000000,timeout-sim,planned,0.440000,-1.120000
4726,abcbap,les-08,49,turtlebot3,send_message,notify_nurse_of_open_drawer_for_nurse_completed,115.18,118.32,3.14,SUCCESS,2.000000,timeout-sim,planned,1.570000,1.140000
4995,abcbap,les-08,49,turtlebot3,wait_message,wait_nurse_to_complete_deposit,118.32,120.12,1.80,SUCCESS,2.000000,timeout-sim,planned,0.900000,-0.200000
5087,abcbap,les-08,49,turtlebot3,operate_drawer,close_drawer_nurse,120.12,120.98,0.86,SUCCESS,2.000000,timeout-sim,planned,0.430000,-1.140000
5121,abcbap,les-08,49,turtlebot3,navigation,navto_lab,120.98,1266.19,1145.21,None,133.533333,timeout-sim,planned,8.576211,1011.676667

failure 89 - les-08.70)

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay
129,acbcap,les-08,70,turtlebot3,navigation,navto_room,8.47,101.02,92.55,SUCCESS,44.466667,timeout-sim,planned,2.081334,48.083333
2659,acbcap,les-08,70,turtlebot3,approach_person,approach_nurse,101.02,101.38,0.36,SUCCESS,2.000000,timeout-sim,planned,0.180000,-1.640000
2696,acbcap,les-08,70,turtlebot3,authenticate_person,authenticate_nurse,101.40,101.90,0.50,SUCCESS,2.000000,timeout-sim,planned,0.250000,-1.500000
2755,acbcap,les-08,70,turtlebot3,operate_drawer,open_drawer_for_nurse,101.90,102.78,0.88,SUCCESS,2.000000,timeout-sim,planned,0.440000,-1.120000
2853,acbcap,les-08,70,turtlebot3,send_message,notify_nurse_of_open_drawer_for_nurse_completed,102.80,105.93,3.13,SUCCESS,2.000000,timeout-sim,planned,1.565000,1.130000
3292,acbcap,les-08,70,turtlebot3,wait_message,wait_nurse_to_complete_deposit,105.93,107.68,1.75,SUCCESS,2.000000,timeout-sim,planned,0.875000,-0.250000
3582,acbcap,les-08,70,turtlebot3,operate_drawer,close_drawer_nurse,107.68,108.58,0.90,SUCCESS,2.000000,timeout-sim,planned,0.450000,-1.100000
3742,acbcap,les-08,70,turtlebot3,navigation,navto_lab,108.58,329.22,220.64,SUCCESS,133.533333,timeout-sim,planned,1.652322,87.106667
10594,acbcap,les-08,70,turtlebot3,approach_robot,approach_arm,329.22,329.43,0.21,SUCCESS,2.000000,timeout-sim,planned,0.105000,-1.790000
10596,acbcap,les-08,70,turtlebot3,operate_drawer,open_drawer_lab,329.43,330.33,0.90,SUCCESS,2.000000,timeout-sim,planned,0.450000,-1.100000
10602,acbcap,les-08,70,turtlebot3,send_message,notify_lab_arm_of_open_drawer_lab_completed,330.33,334.03,3.70,SUCCESS,2.000000,timeout-sim,planned,1.850000,1.700000
10637,acbcap,les-08,70,turtlebot3,wait_message,wait_lab_arm_to_complete_pick_up_sample,334.05,1288.23,954.18,None,2.000000,timeout-sim,planned,477.090000,952.180000

In [40]:
def get_factor(factor_index_on_code):
    def do_get(row):
        #print(row)
        return row['code'][factor_index_on_code]
    return do_get

tar_df['factor_position'] = tar_df.apply(get_factor(factor_index_on_code=4), axis=1)
tar_df[(tar_df.factor_position == 'a') & (tar_df.label == 'navto_lab') & (tar_df.trial_end_state == 'success')].groupby(['scenario_id', 'treatment'])['rel_delay'].mean()

scenario_id  treatment
01           planned      1.520829
04           baseline          NaN
             planned      0.881191
07           planned      0.882813
10           planned      1.516822
13           baseline          NaN
             planned      0.902065
16           planned      0.882617
22           planned      1.617199
25           baseline          NaN
             planned      1.624988
28           planned      2.313898
31           baseline          NaN
             planned      1.949561
34           baseline          NaN
             planned      1.750403
37           planned      1.776204
40           planned      2.054319
43           baseline          NaN
             planned      2.240025
46           planned      1.656796
49           baseline          NaN
             planned      1.764428
52           baseline          NaN
             planned      2.368825
55           baseline          NaN
             planned      1.753345
58           planned      2.012670
61           baseline          NaN
             planned      1.890789
64           planned      1.857664
67           baseline          NaN
             planned      1.727958
70           planned      1.993944
73           planned      1.704256
76           baseline          NaN
             planned      2.020651
79           baseline          NaN
             planned      1.808662
Name: rel_delay, dtype: float64

In [42]:
tar_df[(tar_df.factor_position == 'a') & (tar_df.label == 'navto_lab') & (tar_df.trial_end_state != 'success') & (tar_df.scenario_id == '04')]

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay,factor_position
8382,aaabap,les-01,04,turtlebot6,navigation,navto_lab,210.90,329.75,118.85,SUCCESS,133.533333,success,planned,0.890040,-14.683333,a
9113,aaabap,les-02,04,turtlebot6,navigation,navto_lab,226.37,343.30,116.93,SUCCESS,133.533333,success,planned,0.875662,-16.603333,a
9553,aaabab,les-02,04,turtlebot5,navigation,navto_lab,242.57,440.27,197.70,SUCCESS,NaN,success,baseline,NaN,NaN,a
9679,aaabab,les-04,04,turtlebot5,navigation,navto_lab,246.60,461.62,215.02,SUCCESS,NaN,success,baseline,NaN,NaN,a
9747,aaabab,les-03,04,turtlebot5,navigation,navto_lab,249.07,444.87,195.80,SUCCESS,NaN,success,baseline,NaN,NaN,a
9823,aaabab,les-05,04,turtlebot5,navigation,navto_lab,251.55,445.55,194.00,SUCCESS,NaN,success,baseline,NaN,NaN,a
9846,aaabab,les-07,04,turtlebot5,navigation,navto_lab,252.38,447.30,194.92,SUCCESS,NaN,success,baseline,NaN,NaN,a
9900,aaabap,les-03,04,turtlebot6,navigation,navto_lab,254.55,372.53,117.98,SUCCESS,133.533333,success,planned,0.883525,-15.553333,a
10135,aaabab,les-06,04,turtlebot5,navigation,navto_lab,266.57,457.38,190.81,SUCCESS,NaN,success,baseline,NaN,NaN,a
10197,aaabap,les-04,04,turtlebot6,navigation,navto_lab,269.75,387.90,118.15,SUCCESS,133.533333,success,planned,0.884798,-15.383333,a
10206,aaabab,les-08,04,turtlebot5,navigation,navto_lab,270.22,461.95,191.73,SUCCESS,NaN,success,baseline,NaN,NaN,a
10463,aaabab,les-01,04,turtlebot5,navigation,navto_lab,295.55,488.65,193.10,SUCCESS,NaN,success,baseline,NaN,NaN,a
10981,aaabap,les-05,04,turtlebot6,navigation,navto_lab,399.58,516.97,117.39,SUCCESS,133.533333,success,planned,0.879106,-16.143333,a
11548,aaabap,les-08,04,turtlebot6,navigation,navto_lab,467.62,584.33,116.71,SUCCESS,133.533333,success,planned,0.874014,-16.823333,a

In [53]:
tr_df['factor_position'] = tr_df.apply(get_factor(factor_index_on_code=4), axis=1)
tr_df[(tr_df.treatment == 'planned') & (tr_df.end_state != 'success')].groupby(['factor_position'])['factor_position'] .count()

factor_position
a    66
b    12
c    12
Name: factor_position, dtype: int64

In [55]:
tr_df[(tr_df.treatment == 'planned')].groupby(['factor_position', 'executor', 'end_state'])['end_state'].count()

factor_position  executor    end_state
a                turtlebot2  success         15
                 turtlebot3  low-battery      5
                             success         74
                             timeout-sim     15
                 turtlebot4  low-battery     24
                             success         31
                             timeout-sim     12
                 turtlebot6  low-battery      2
                             success         29
                             timeout-sim      1
b                turtlebot2  success         15
                             timeout-sim      1
                 turtlebot4  low-battery      1
                             success         53
                 turtlebot6  success        135
                             timeout-sim      4
c                turtlebot2  success         68
                             timeout-sim      4
                 turtlebot6  low-battery      1
                             success        135
                             timeout-sim      5
Name: end_state, dtype: int64

# each step of task execution

In [156]:
task_labels = tar_df['label'].unique()
navto_room_method = [task_labels[0]]
retrieve_sample_method = task_labels[1:6]
navto_lab_method = [task_labels[7]]
unload_sample_method = task_labels[8:]
print(f'{navto_room_method, retrieve_sample, navto_lab, unload_sample}')
tar_planned = tar_df[tar_df.treatment == 'planned']

(['navto_room'], array(['approach_nurse', 'authenticate_nurse', 'open_drawer_for_nurse',
       'notify_nurse_of_open_drawer_for_nurse_completed',
       'wait_nurse_to_complete_deposit'], dtype=object), ['navto_lab'], array(['approach_arm', 'open_drawer_lab',
       'notify_lab_arm_of_open_drawer_lab_completed',
       'wait_lab_arm_to_complete_pick_up_sample'], dtype=object))

In [171]:
x = tar_planned[tar_planned.label.isin(navto_room_method)]
total, succ, err = x['code'].count(), x[x.end_state == 'SUCCESS']['code'].count(), x[x.end_state != 'SUCCESS']['code'].count()
print(f'{navto_room_method}->total: {(total)}, succ: {succ}({100* succ/total}), err: {err} ({100* err/total}),')
#x[x.end_state != 'SUCCESS']
# tar_planned[(tar_planned.exec_group == 'les-07') & (tar_planned.scenario_id == '04')]
x

['navto_room']->total: 621, succ: 617(99.35587761674718), err: 4 (0.644122383252818),

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay,factor_position
1,accbcp,les-04,78,turtlebot6,navigation,navto_room,1.25,58.95,57.70,SUCCESS,35.133333,success,planned,1.642315,22.566667,c
2,accacp,les-03,75,turtlebot2,navigation,navto_room,1.50,96.38,94.88,SUCCESS,76.666667,success,planned,1.237565,18.213333,c
3,abcbcp,les-02,51,turtlebot6,navigation,navto_room,2.62,60.72,58.10,SUCCESS,35.133333,success,planned,1.653700,22.966667,c
7,abaabp,les-04,29,turtlebot4,navigation,navto_room,3.28,169.33,166.05,SUCCESS,117.333333,success,planned,1.415199,48.716667,b
8,abcbbp,les-01,50,turtlebot6,navigation,navto_room,3.47,92.18,88.71,SUCCESS,44.466667,success,planned,1.994978,44.243333,b
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1221,aacccp,les-05,27,turtlebot6,navigation,navto_room,23.63,83.67,60.04,SUCCESS,35.133333,success,planned,1.708918,24.906667,c
1222,abbabp,les-08,38,turtlebot4,navigation,navto_room,23.93,180.80,156.87,SUCCESS,117.333333,success,planned,1.336960,39.536667,b
1223,aababp,les-03,11,turtlebot2,navigation,navto_room,24.03,200.72,176.69,SUCCESS,176.666667,success,planned,1.000132,0.023333,b
1224,aaabap,les-06,04,turtlebot6,navigation,navto_room,24.03,676.67,652.64,SUCCESS,148.466667,low-battery,planned,4.395869,504.173333,a
1226,aabcbp,les-08,17,turtlebot6,navigation,navto_room,25.47,114.57,89.10,SUCCESS,44.466667,success,planned,2.003748,44.633333,b

In [172]:
print(f'retrieve_samples {retrieve_sample_method}')
x = tar_planned[tar_planned.label == (retrieve_sample_method[0])]
y=x
total, succ, err = x['code'].count(), x[x.end_state == 'SUCCESS']['code'].count(), x[x.end_state != 'SUCCESS']['code'].count()
method_total = total
method_err = 0
method_err += err
print(f'total: {(total-err)}, succ: {succ}, err: {err}')
x = tar_planned[tar_planned.label == (retrieve_sample_method[1])]
total, succ, err = x['code'].count(), x[x.end_state == 'SUCCESS']['code'].count(), x[x.end_state != 'SUCCESS']['code'].count()
method_err += err
print(f'total: {(total-err)}, succ: {succ}, err: {err}')
x = tar_planned[tar_planned.label == (retrieve_sample_method[2])]
total, succ, err = x['code'].count(), x[x.end_state == 'SUCCESS']['code'].count(), x[x.end_state != 'SUCCESS']['code'].count()
method_err += err
print(f'total: {(total-err)}, succ: {succ}, err: {err}')
x = tar_planned[tar_planned.label == (retrieve_sample_method[3])]
total, succ, err = x['code'].count(), x[x.end_state == 'SUCCESS']['code'].count(), x[x.end_state != 'SUCCESS']['code'].count()
method_err += err
print(f'total: {(total-err)}, succ: {succ}, err: {err}')
x = tar_planned[tar_planned.label == (retrieve_sample_method[4])]
total, succ, err = x['code'].count(), x[x.end_state == 'SUCCESS']['code'].count(), x[x.end_state != 'SUCCESS']['code'].count()
method_err += err
print(f'total: {(total-err)}, succ: {succ}, err: {err}')
method_succ = succ
print(f'retrieve_samples -> total: {(method_total)}, succ: {method_succ}({100* method_succ/method_total}), err: {method_err} ({100* method_err/method_total}),')

y

retrieve_samples ['approach_nurse' 'authenticate_nurse' 'open_drawer_for_nurse'
 'notify_nurse_of_open_drawer_for_nurse_completed'
 'wait_nurse_to_complete_deposit']
total: 626, succ: 626, err: 0
total: 620, succ: 620, err: 6
total: 620, succ: 620, err: 0
total: 620, succ: 620, err: 0
total: 611, succ: 611, err: 9
retrieve_samples -> total: 626, succ: 611(97.60383386581469), err: 15 (2.3961661341853033),

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay,factor_position
1229,accbcp,les-04,78,turtlebot6,approach_person,approach_nurse,58.95,59.28,0.33,SUCCESS,2.0,success,planned,0.165,-1.67,c
1232,abcbcp,les-02,51,turtlebot6,approach_person,approach_nurse,60.72,61.08,0.36,SUCCESS,2.0,success,planned,0.180,-1.64,c
1235,acabcp,les-06,60,turtlebot6,approach_person,approach_nurse,61.55,62.17,0.62,SUCCESS,2.0,success,planned,0.310,-1.38,c
1240,ababcp,les-03,33,turtlebot6,approach_person,approach_nurse,63.42,63.83,0.41,SUCCESS,2.0,success,planned,0.205,-1.59,c
1242,aabccp,les-08,18,turtlebot6,approach_person,approach_nurse,63.82,64.98,1.16,SUCCESS,2.0,success,planned,0.580,-0.84,c
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11509,aaabap,les-08,04,turtlebot6,approach_person,approach_nurse,459.73,460.32,0.59,SUCCESS,2.0,success,planned,0.295,-1.41,a
11587,aabcap,les-04,16,turtlebot6,approach_person,approach_nurse,481.32,481.67,0.35,SUCCESS,2.0,success,planned,0.175,-1.65,a
11592,aabcap,les-01,16,turtlebot6,approach_person,approach_nurse,482.18,483.10,0.92,SUCCESS,2.0,success,planned,0.460,-1.08,a
11643,aabcap,les-03,16,turtlebot6,approach_person,approach_nurse,557.13,557.88,0.75,SUCCESS,2.0,success,planned,0.375,-1.25,a
11668,aaabap,les-06,04,turtlebot6,approach_person,approach_nurse,676.67,677.08,0.41,SUCCESS,2.0,low-battery,planned,0.205,-1.59,a

In [137]:
x = tar_planned[tar_planned.label.isin(navto_lab_method)]
total, succ, err = x['code'].count(), x[x.end_state == 'SUCCESS']['code'].count(), x[x.end_state != 'SUCCESS']['code'].count()
print(f'{navto_lab_method}-> total: {total}, succ: {succ}, err: {err}')

['navto_lab']-> total: 611, succ: 561, err: 50

In [133]:
a = tar_planned[tar_planned.label.isin(unload_sample_method[0:1])]
total, succ, err = a['code'].count(), a[a.end_state == 'SUCCESS']['code'].count(), a[a.end_state != 'SUCCESS']['code'].count()
print(f'{unload_sample_method[0:1]} -> total: {(total)}, succ: {succ}, err: {err}')
method_total = total
method_err = err
b = tar_planned[tar_planned.label.isin(unload_sample_method[1:2])]
total, succ, err = b['code'].count(), b[b.end_state == 'SUCCESS']['code'].count(), b[b.end_state != 'SUCCESS']['code'].count()
method_err += err
print(f'{unload_sample_method[1:2]} -> total: {(total)}, succ: {succ}, err: {err}')
c = tar_planned[tar_planned.label.isin(unload_sample_method[2:3])]
total, succ, err = c['code'].count(), c[c.trial_end_state == 'success']['code'].count(), c[c.trial_end_state != 'success']['code'].count()
print(f'{unload_sample_method[2:3]} -> total: {(total)}, succ: {succ}, err: {err}')
method_succ = 558
method_err = method_total - method_succ
# method_err += err
print(f'{unload_sample_method} -> total: {(method_total)}, succ: {method_succ}({100* method_succ/method_total}), err: {method_err} ({100* method_err/method_total}),')
c[c.trial_end_state != 'success']

['approach_arm'] -> total: 561, succ: 561, err: 0
['open_drawer_lab'] -> total: 561, succ: 561, err: 0
['notify_lab_arm_of_open_drawer_lab_completed'] -> total: 561, succ: 555, err: 6
['approach_arm' 'open_drawer_lab'
 'notify_lab_arm_of_open_drawer_lab_completed'
 'wait_lab_arm_to_complete_pick_up_sample'] -> total: 561, succ: 558(99.46524064171123), err: 3 (0.5347593582887701),

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay,factor_position
6194,abcbcp,les-03,51,turtlebot6,send_message,notify_lab_arm_of_open_drawer_lab_completed,172.03,175.18,3.15,SUCCESS,2.0,timeout-sim,planned,1.575,1.15,c
6553,accccp,les-03,81,turtlebot6,send_message,notify_lab_arm_of_open_drawer_lab_completed,177.22,180.42,3.20,SUCCESS,2.0,timeout-sim,planned,1.600,1.20,c
10340,acbabp,les-05,65,turtlebot4,send_message,notify_lab_arm_of_open_drawer_lab_completed,275.40,278.57,3.17,SUCCESS,2.0,low-battery,planned,1.585,1.17,b
10602,acbcap,les-08,70,turtlebot3,send_message,notify_lab_arm_of_open_drawer_lab_completed,330.33,334.03,3.70,SUCCESS,2.0,timeout-sim,planned,1.850,1.70,a
11342,abaaap,les-07,28,turtlebot4,send_message,notify_lab_arm_of_open_drawer_lab_completed,441.95,445.23,3.28,SUCCESS,2.0,timeout-sim,planned,1.640,1.28,a
11692,acacap,les-07,61,turtlebot3,send_message,notify_lab_arm_of_open_drawer_lab_completed,923.13,1342.30,419.17,None,2.0,timeout-sim,planned,209.585,417.17,a

In [146]:
tar_planned[(tar_planned.trial_end_state == 'success')& (tar_planned.end_state == 'SUCCESS')]

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay,factor_position
1,accbcp,les-04,78,turtlebot6,navigation,navto_room,1.25,58.95,57.70,SUCCESS,35.133333,success,planned,1.642315,22.566667,c
2,accacp,les-03,75,turtlebot2,navigation,navto_room,1.50,96.38,94.88,SUCCESS,76.666667,success,planned,1.237565,18.213333,c
3,abcbcp,les-02,51,turtlebot6,navigation,navto_room,2.62,60.72,58.10,SUCCESS,35.133333,success,planned,1.653700,22.966667,c
7,abaabp,les-04,29,turtlebot4,navigation,navto_room,3.28,169.33,166.05,SUCCESS,117.333333,success,planned,1.415199,48.716667,b
8,abcbbp,les-01,50,turtlebot6,navigation,navto_room,3.47,92.18,88.71,SUCCESS,44.466667,success,planned,1.994978,44.243333,b
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11677,abbcap,les-01,43,turtlebot3,operate_drawer,open_drawer_lab,682.28,683.18,0.90,SUCCESS,2.000000,success,planned,0.450000,-1.100000,a
11679,abaaap,les-06,28,turtlebot4,approach_robot,approach_arm,683.28,683.48,0.20,SUCCESS,2.000000,success,planned,0.100000,-1.800000,a
11680,abaaap,les-06,28,turtlebot4,operate_drawer,open_drawer_lab,683.48,684.38,0.90,SUCCESS,2.000000,success,planned,0.450000,-1.100000,a
11684,abccap,les-07,52,turtlebot3,approach_robot,approach_arm,789.77,790.03,0.26,SUCCESS,2.000000,success,planned,0.130000,-1.740000,a
11685,abccap,les-07,52,turtlebot3,operate_drawer,open_drawer_lab,790.03,790.97,0.94,SUCCESS,2.000000,success,planned,0.470000,-1.060000,a

In [147]:
tr_df[(tr_df.end_state == 'success') & (tr_df.treatment == 'planned')].count()

exec_group               558
scenario_id              558
code                     558
treatment                558
executor                 555
ttc                      558
failure_time               0
end_state                558
end_battery_level        558
total_time_wall_clock    558
last_battery_levels      558
has_failure              558
runtime_exceptions         0
result                     0
factor_position          558
dtype: int64

In [123]:
tr_df[(tr_df.end_state == 'success') & (tr_df.treatment == 'planned')]

,exec_group,scenario_id,code,treatment,executor,ttc,failure_time,end_state,end_battery_level,total_time_wall_clock,last_battery_levels,has_failure,runtime_exceptions,result,factor_position
1,les-01,1,aaaaap,planned,turtlebot2,421.43,NaN,success,0.4330,646.63,{'turtlebot2': 0.433},False,None,None,a
3,les-01,2,aaaabp,planned,turtlebot2,394.38,NaN,success,0.4405,602.57,{'turtlebot2': 0.44049999999999995},False,None,None,b
5,les-01,3,aaaacp,planned,turtlebot2,213.23,NaN,success,0.5380,320.31,{'turtlebot2': 0.5379999999999999},False,None,None,c
7,les-01,4,aaabap,planned,turtlebot6,331.75,NaN,success,0.3210,486.47,{'turtlebot6': 0.321},False,None,None,a
9,les-01,5,aaabbp,planned,turtlebot6,204.15,NaN,success,0.4050,315.29,{'turtlebot6': 0.405},False,None,None,b
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1287,les-08,77,accbbp,planned,turtlebot6,209.98,NaN,success,0.8140,306.30,{'turtlebot6': 0.8140000000000001},False,None,None,b
1289,les-08,78,accbcp,planned,turtlebot6,185.38,NaN,success,0.8295,275.27,{'turtlebot6': 0.8295},False,None,None,c
1291,les-08,79,acccap,planned,turtlebot3,335.07,NaN,success,0.5920,515.50,{'turtlebot3': 0.5920000000000001},False,None,None,a
1293,les-08,80,acccbp,planned,turtlebot6,211.20,NaN,success,0.8140,313.30,{'turtlebot6': 0.8140000000000001},False,None,None,b
1295,les-08,81,accccp,planned,turtlebot6,175.82,NaN,success,0.8290,274.26,{'turtlebot6': 0.8290000000000001},False,None,None,c

In [131]:
tar_planned[(tar_planned.trial_end_state == 'success')& (tar_planned.label == 'notify_lab_arm_of_open_drawer_lab_completed')]

,code,exec_group,scenario_id,robot,skill,label,start_time,end_time,expent_time,end_state,planned_time,trial_end_state,treatment,rel_delay,abs_delay,factor_position
5777,accbcp,les-04,78,turtlebot6,send_message,notify_lab_arm_of_open_drawer_lab_completed,160.15,254.25,94.10,None,2.0,success,planned,47.050,92.10,c
5796,abcbcp,les-02,51,turtlebot6,send_message,notify_lab_arm_of_open_drawer_lab_completed,162.47,258.24,95.77,None,2.0,success,planned,47.885,93.77,c
5831,acabcp,les-06,60,turtlebot6,send_message,notify_lab_arm_of_open_drawer_lab_completed,164.55,262.26,97.71,None,2.0,success,planned,48.855,95.71,c
5922,aaaccp,les-07,09,turtlebot6,send_message,notify_lab_arm_of_open_drawer_lab_completed,168.38,259.26,90.88,None,2.0,success,planned,45.440,88.88,c
5923,aaabcp,les-01,06,turtlebot6,send_message,notify_lab_arm_of_open_drawer_lab_completed,168.38,268.25,99.87,None,2.0,success,planned,49.935,97.87,c
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11667,acbaap,les-01,64,turtlebot4,send_message,notify_lab_arm_of_open_drawer_lab_completed,610.75,900.85,290.10,None,2.0,success,planned,145.050,288.10,a
11674,aabcap,les-03,16,turtlebot6,send_message,notify_lab_arm_of_open_drawer_lab_completed,681.53,1033.28,351.75,None,2.0,success,planned,175.875,349.75,a
11678,abbcap,les-01,43,turtlebot3,send_message,notify_lab_arm_of_open_drawer_lab_completed,683.18,990.95,307.77,None,2.0,success,planned,153.885,305.77,a
11682,abaaap,les-06,28,turtlebot4,send_message,notify_lab_arm_of_open_drawer_lab_completed,684.38,1006.99,322.61,None,2.0,success,planned,161.305,320.61,a
11686,abccap,les-07,52,turtlebot3,send_message,notify_lab_arm_of_open_drawer_lab_completed,790.97,1156.12,365.15,None,2.0,success,planned,182.575,363.15,a